[2015-01-08 23:58] DaveSteer opened #1 "Open Web Fellows - Emailing All Applicants"
Starting a project to upload all of the applicants into an email tool so that we can inform them of the status of their application. Ideally, we can send this email week of 1/12.

Note on Privacy: We cannot email these people ongoing since ongoing communication is not the nature of why they gave us their email address. We should invite them to sign up to stay up to date though.

cc @valianttry and

[2015-01-09 19:46] valianttry commented on #1
@DaveSteer what email tool are you using?

[2015-01-09 19:48] DaveSteer commented on #1
I'm not using any tool. Right now, the only thing I have is our corporate GMAIL, which seems like the wrong thing to use. I suppose we could put all 573 applicants in the BCC line, but that doesn't seem right, does it?

[2015-01-09 19:50] valianttry opened #2 "Discuss approach for executing "Call Congress Tool""
*\* Replacing https://bugzilla.mozilla.org/show_bug.cgi?id=1118901 with this Github Issue **

Qs we need to answer:
1. Can we implement a "Call Congress" tool as described below that protects PII and will pass security and legal review no later than February 15?
2. Is this call tool possible to implement by mid-February for Mozilla? Who will lead dev?

---

EMAIL BACKGROUND FROM HOLMES @ FFTF:
Hi

[2015-01-09 19:54] valianttry commented on #2
@DaveSteer @simonwex @rubbingalcoholic @edrushka @Holmesworcester

[2015-01-09 23:25] DaveSteer opened #3 "Develop messaging for Net Neutrality Advocacy Campaign"
This is the issue to create the messaging for the Net Neutrality Advocacy Campaign. We need approved messaging by January 15th. We need to consult with the MoCo engagement team. Need messaging for:
*Petition landing page
*Short form call to action for snippet, social, etc.

Here's the Google Doc for the messaging: https://docs.google.com/a/mozilla.com/document/d/1P-AAaD3TJSmJXmuwObIE51Qrl7ftdApiio

[2015-01-10 00:43] holmesworcester commented on #2
i'm happy to answer any questions that may come up. let us know if you have any.

[2015-01-10 17:48] davidascher commented on #2
Thanks, very useful details.

The first thing to do @valianttry is to start a vendor review for Twilio, as those are the folks we'd be relying on (and in particular sending the user's phone number to).  That's what they do, and they're a highly reputable service provider, but it's the homework we should start ASAP.  A related question is likely to have a legal bug that confirms that we're ok with

[2015-01-10 17:54] davidascher commented on #1
Given that this is a one-time thing, I think it's important not to overthink it.

Gmail may balk at 573 people in a bcc, but if it works, it's probably the easiest for you.

two alternatives based on tools we understand well in-house:
- setup a BSD group (@valiantry can help I'm sure!)
- setup a mailing list just for this (#servicenow or @jlin can probably set it up quickly too).

[2015-01-12 19:01] davidascher commented on #2
For reference: project kick-off bug is creatable via https://bugzilla.mozilla.org/form.moz-project-review

[2015-01-12 19:32] valianttry commented on #2
@holmesworcester can you provide a direct contact at Twilio who can help us route various legal Qs and PII Qs?

[2015-01-12 20:03] holmesworcester commented on #2
Just started a thread off-ticket. Jeff can introduce you and invite him to the ticket if necessary.

–Holmes

[2015-01-13 15:28] Kellijk commented on #1
Hi @DaveSteer! Sorry - just now seeing this, had my Github training today :)

David's definitely right here. Given it's a one time thing I'd recommend not creating a BSD constituent group, but if you feel strongly about it I can make it happen. Also there are ways to do it via gmail where you can add personalization (like first name), I've done this a bunch of times: http://neworganizing.com/conte

[2015-01-14 21:00] DaveSteer commented on #1
Sounds good. Melissa Romaine is going to reach out to you on this. @melechuga

[2015-01-20 21:21] valianttry opened #4 "Build Call Congress tool"
see #2 for background. We need a simple user-facing webform that includes 1) instructions for calling congress 2) super simple "report back" survey so users can tell us in 10 secs or less how their call went. The backend is built by FFTF. Here is what the tool looks like on FFTF's page:
https://www.battleforthenet.com/?call_tool=1

Code for API is available here: https://github.com/mozilla/call-co

[2015-01-22 18:10] valianttry commented on #2
@davidascher Wex is out today, can you help assess what resources we'll need to build the call tool? It's looking like Twilio be through privacy/sec review this week. Barring any red flags from that (not anticipated) we should figure out how to resource this project.

[2015-01-22 21:16] valianttry commented on #2
Twilio passed privacy and security review: https://bugzilla.mozilla.org/show_bug.cgi?id=1120583

[2015-01-23 01:12] valianttry commented on #2
Legal approved Twilio, and we have approved language to add to the bottom of the page re: Privacy Policy / Twilio data collection. We're ready to move forward with design / build.

[2015-01-23 04:17] davidascher commented on #2
Excellent.  As my son says, quoting Cory Doctorow, this is a fight that all
other fights depend on so I'm going to get major daddy points if we make a
big dent.

Next steps in parallel:

@jdotpz and/or @jbuck figure out any deployment challenges for the software
mentioned above. Get twilio credentials and get a simple page working.
@simonwex figure out an urgent security review on PII in particula

[2015-01-23 04:34] jdotpz commented on #2
Sure thing, I'll hook up with Holmes and get this cooking.  /excited

[2015-01-23 15:05] adamlofting commented on #2
@valianttry could you set me up with access to twilio off ticket, please? I suspect that's going to give us some of the basic metrics we'll want to see (number of calls etc...) but I've not used it before so would like to explore.

@simonwex / @jdotpz when we start building the front-end/form part of this, can you loop me in so we can setup whatever analytics is best for testing/optimization.?

:c

[2015-01-23 15:09] jdotpz commented on #2
@valiantry would you please also send me a passworded zip file with the main admin creds for our twilio account?  I'll get those in lastpass and share appropriately.

I've sent a message to Holmes about hosting for this.  I'm wondering if it is sensible for us to host the backend as well as the frontend, and will try to get that ironed out as we get moving here.  I'll loop you in as I do so @david

[2015-01-23 18:20] edrushka commented on #2
@valianttry Is this something that will be linked to from https://advocacy.mozilla.org/ ?

[2015-01-23 19:06] valianttry commented on #4
@simonwex the call tool made it through legal and privacy review! What's next step to start build?

[2015-01-23 19:14] valianttry commented on #4
Here is a rough mockup of the user-facing pages we need to build:
https://drive.google.com/a/mozilla.com/file/d/0B_VT8vv8uni5LXNSdVpMTE00ZHM/view?usp=sharing
![call_tool_ux-awood_pdf_-_google_drive](https://cloud.githubusercontent.com/assets/9830371/5884095/c6164b64-a30d-11e4-8e7b-ffe753ab3a42.png)

[2015-01-23 21:40] holmesworcester commented on #2
Let me know what you need from me!

–Holmes

[2015-01-23 22:17] cassiemc commented on #4
@valianttry I KNOW The process for doing this is crap -- but could you possibly refile this under the Plan repo? https://github.com/MozillaFoundation/plan/issues/new OR you can use http://build.webmaker.org/add which takes you to the same place.

You can just link to this bug instead of repeating the same information. But putting into the Plan repo will make sure this gets into regular triage.

[2015-01-23 22:46] simonwex commented on #2
Great work getting this off the ground. Continuing work here: #2 and recorded in the webmaker resource plan here https://github.com/MozillaFoundation/plan/issues/263

[2015-01-23 22:46] #2 closed, assigned to nobody

[2015-01-23 22:56] simonwex commented on #4
@jdotpz this is _likely_ going to live somewhere on https://advocacy.mozilla.org, are there any gotchas to how that domain is setup?

[2015-01-23 22:58] jdotpz commented on #4
Well, it's a wordpress server right now.  If we want to host something underneath that domain, we'll probably want to push the whole thing up to Cloudfront, and then do path-based origins.

So basically, if /callcongress\* is the path, use calltool.mofoprod.net instead of the current wordpress CNAME.

[2015-01-23 23:08] simonwex commented on #4
It could be elsewhere if that's more convenient.

[2015-01-23 23:13] simonwex opened #5 "Stand up staging version of call-congress API"
Code lives here:
https://github.com/mozilla/call-congress

Part of #4

[2015-01-26 21:22] simonwex commented on #4
An example of Andrea calling the service can be heard here:
http://mozillafoundation.github.io/movement-building/andrea_calling_existing_tool.mp3

[2015-01-26 21:25] jdotpz commented on #5
So more specifically, we are just going to host the static portion of this?

[2015-01-26 21:26] jdotpz commented on #5
cc'ing @rubbingalcoholic here
Hi rubbingalcoholic!  So we're looking to host the form rather than the backend.  Can you confirm that would be under static, or would it be elsewhere?

[2015-01-26 21:26] simonwex commented on #4
@ScottDowne you should be able to create a SkypeOut number and use that to test. Expense any costs you incur.

[2015-01-26 21:27] simonwex commented on #5
@jdotpz we're going to host the whole thing, not just static assets.

[2015-01-26 21:42] ScottDowne commented on #5
@jdotpz When do we expect this, and do you need help with anything?

[2015-01-26 21:48] jdotpz commented on #5
Likely I can have it up by tomorrow at noon or so.  I'm building out the staging infra now.

[2015-01-26 21:53] jdotpz commented on #5
Working from it here: https://github.com/MozillaFoundation/mofo-devops/issues/2

[2015-01-26 21:55] jdotpz commented on #5
@simonwex We may need to start thinking on getting our own versions of items listed in https://github.com/mozilla/call-congress/blob/master/data/campaigns.yaml

[2015-01-26 22:00] jdotpz commented on #5
Do we have keys for these?  @valianttry @simonwex

The app uses environment variables to store account keys. For development you will need to set:

SUNLIGHTLABS_KEY
TWILIO_DEV_ACCOUNT_SID
TWILIO_DEV_AUTH_TOKEN
TW_NUMBER
REDISTOGO_URL (optional Redis URL for caching the Google Spreadsheet data)
and for production:

SUNLIGHTLABS_KEY
TWILIO_ACCOUNT_SID
TWILIO_AUTH_TOKEN
APPLICATION_ROOT (url for appl

[2015-01-26 23:15] jdotpz commented on #5
Getting this on the foreman start:
/var/lib/gems/1.8/gems/foreman-0.77.0/lib/foreman/process.rb:54:in `run': undefined method`spawn' for Process:Module (NoMethodError)
    from /var/lib/gems/1.8/gems/foreman-0.77.0/lib/foreman/process.rb:53:in `chdir'
    from /var/lib/gems/1.8/gems/foreman-0.77.0/lib/foreman/process.rb:53:in`run'
    from /var/lib/gems/1.8/gems/foreman-0.77.0/lib/foreman/engine.r

[2015-01-27 15:28] cassiemc commented on #4
Here's a design for the first page: https://redpen.io/qy79a8b3564dc01fb4
I'm liking the fourth direction. @vazquez can you please R for UI?

Based on Andrew's wires here: https://drive.google.com/a/mozillafoundation.org/file/d/0B_VT8vv8uni5LXNSdVpMTE00ZHM/view

[2015-01-27 15:32] cassiemc commented on #4
@valianttry Please review too! https://redpen.io/qy79a8b3564dc01fb4

[2015-01-27 15:50] vazquez commented on #4
I'm done my review :shipit:

[2015-01-27 16:05] jdotpz commented on #5
@rubbingalcoholic hi!  Can you tell me which version of python you cats are using for your servers?

[2015-01-27 16:24] cassiemc commented on #4
Ok, new version. R? @vazquez @valianttry  @xmatthewx https://redpen.io/qy79a8b3564dc01fb4

[2015-01-27 17:04] rubbingalcoholic commented on #5
Hi @jdotpz - we're using Python 2.7.3. Were you having trouble getting it to work? The method I've used is:

[code]

Also, it helps to have all your environment variables defined in a hidden file called `.env`. Then you just do:

[code]

And assuming you're on a publicly facing server or have the ngrok tunnel open, it should work.

One caveat--for the in-depth logging of call stats, you'll need to

[2015-01-27 17:04] cassiemc commented on #4
Newest version incorporating all feedback so far: https://redpen.io/qy79a8b3564dc01fb4

[2015-01-27 17:17] jdotpz commented on #5
@simonwex Do we have any of our keys in line so we can try to get this app running?  At the moment, I think that may be why it is dead in the water.  cc'ing @valianttry since I think she may be in control of Twilio?

[2015-01-27 17:24] davidascher commented on #5
Getting a twilio key should be trivial.  Let me know if you need me to.

[2015-01-27 17:32] jdotpz commented on #5
Per https://github.com/MozillaFoundation/movement-building/issues/2#issuecomment-71145518, I believe @valianttry has these keys already.  I don't want to start up a bunch of accounts, if possible.

[2015-01-27 19:35] valianttry commented on #5
@jdotpz Just got word from our Twilio rep (Rob Spectre) he says we should create a new Twilio account and that our service is comped for this campaign as long as Twilio is acknowledged. JP do you just want to create an account and log the credentials somewhere in case others need them? I'll get more details about how we should acknowledge Twilio (they're mentioned in the privacy copy text but no l

[2015-01-27 19:48] davidascher commented on #5
Nice!

[2015-01-27 20:00] cassiemc commented on #4
I'm still working on the next screen. In the meantime @valianttry have you had a chance to review? Can you add the new Ts&Cs to this issue? Thanks!!

[2015-01-27 20:05] valianttry commented on #5
Twilio brand mark is here: https://www.twilio.com/press (scroll down)

We should just drop it in subtly / small and low on the page. Maybe just "Special thanks to [wordmark]"

[2015-01-27 20:06] cassiemc commented on #4
I think this second screen still needs some work but didn't want to wait a lot longer for a round of feedback. @xmatthewx @vazquez @ScottDowne – feedback? https://redpen.io/cgae7af162144c5eb9

Again based on wireframes here: https://drive.google.com/a/mozillafoundation.org/file/d/0B_VT8vv8uni5LXNSdVpMTE00ZHM/view

[2015-01-27 20:59] xmatthewx commented on #4
Looks great. Wondering if the Tips should toggle open and close so that everyone sees the report back button below.

[2015-01-27 23:52] ScottDowne commented on #4
WIP: http://scottdowne.github.io/call-congress-net-neutrality/call-congress.html

Things I need to do, and how I plan on breaking up the tasks (mostly for my own tracking):
- [x] create and setup repo
- [x] first page HTML and CSS mobile
- [x] first page countdown
- [x] fix broken links and add phone icon
- [ ] second page HTML and CSS mobile
- [ ] connect with call-congress service
- [ ] interact

[2015-01-28 01:48] cassiemc commented on #4
Another version of the second screen here: https://redpen.io/cgae7af162144c5eb9 @vazquez R?

@xmatthewx, the Tips section seem too important to toggle it closed and open. But it's a good point. Not really sure how the report back will work yet.

For my to-do list:
- [x] initial screen mobile UI
- [x] second screen mobile UI
- [x] design 'preview' experience
- [x] double check most recent sandstone

[2015-01-28 12:26] adamlofting commented on #4
We also need to add Google Analytics in if we want to measure this (or we'll be :see_no_evil:)
- [x] Which domain is this being hosted on? (sendto.m.o, advocacy.m.o or somthing else?)
- [x] Are we running any optimization testing? (do we need Optimizely on this or not)
- [x] What events other than standard pageviews do we want to count? (I guess survey completions... any others?)
- [x] What was th

[2015-01-28 15:47] jdotpz commented on #5
@rubbingalcoholic Where might we get a taskforce key?

[2015-01-28 15:51] jdotpz commented on #5
@rubbingalcoholic does this look correct?
export APPLICATION_ROOT="https://callcongress.mofostaging.net"

[2015-01-28 15:57] jdotpz commented on #5
@rubbingalcoholic Unsure if this is related, but here's what I get when we start the server:

http://pastebin.mozilla.org/8401831

ubuntu@ip-10-203-173-15:~$ curl http://localhost:5000
Internal Server Errorubuntu@ip-10-203-173-15:~$

[2015-01-28 15:58] jdotpz commented on #5
@rubbingalcoholic Can we just setup a call to go over these things?  I'm getting a bit stuck on many bits here, so I could use a hand.

[2015-01-28 16:24] cassiemc commented on #4
Adam, would be interesting to know who clicks the 'preview' link.

Here's the most recent redpen: https://redpen.io/mjd5f98ae0b751ab15 R? @valianttry @vazquez ?

[2015-01-28 18:46] vazquez commented on #4
R+ this looks great! :cow: :star: I left a couple of minor comments.

[2015-01-28 22:24] OpenMatt opened #6 "Do security review on call Congress tool"

[2015-01-28 22:26] OpenMatt commented on #6
This has been filed and is underway in Bugzilla here:
https://bugzilla.mozilla.org/show_bug.cgi?id=1120582

[2015-01-28 22:27] davidascher opened #7 "Finalize hosting plan (in particular domain implications)"
Advocacy.mozilla.org is a wordpress site under mozilla.org security regime (because of cross-domain security issues).

Deploying on a non-mozilla.org domain is likely safer and hence easier to do fast.

We would need to figure out that domain, acquire it, get a cert, set it up etc.

Step 1: understand pros & cons.

/cc @simonwex @jdotpz @valianttry @DaveSteer

[2015-01-28 22:27] davidascher opened #8 "Document schedule for building, QAing and shipping Call Congress tool"
We need a schedule for milestones internal to the next two weeks, given the number of moving parts and the brick wall deadline.

[2015-01-28 22:32] OpenMatt opened #9 "Complete dev work on Call Congress tool"
WIP: http://scottdowne.github.io/call-congress-net-neutrality/call-congress.html

To do:
- [x] create and setup repo
- [x] first page HTML and CSS mobile
- [x] first page countdown
- [x] fix broken links and add phone icon
- [x] second page HTML and CSS mobile
- [x] connect with call-congress service
- [x] interaction to navigate between page 1 and 2
- [x] input dialog error message
- [x] add wait

[2015-01-28 22:34] OpenMatt opened #10 "Complete design work on Call Congress tool"
To-do
- [x] initial screen mobile UI
- [x] second screen mobile UI
- [x] design 'preview' experience
- [x] double check most recent sandstone styles
- [x] get copy review / edits
- [x] get signoff from andrea
- [x] design QA for the build
- [x] initial screen desktop UI
- [x] second screen desktop UI
- [x] error states
- [x] design thank you page, mobile
- [x] design thank you page, desktop

_Move

[2015-01-28 22:37] OpenMatt commented on #4
Let's break this into discrete tickets for development, design and metrics. Filing those now.

[2015-01-28 22:39] OpenMatt opened #11 "Add Google Analytics to call Congress tool"
Add Google Analytics, pageview and event tracking.

Related issues for reference:
- Complete DESIGN work on Call Congress tool #10
- Complete DEV work on Call Congress tool #9

[2015-01-28 22:42] OpenMatt commented on #4
I believe everything this ticket has now been files as individual issues, for easier follow-up and tracking.
https://github.com/MozillaFoundation/movement-building/issues

Recommend we close this ticket, and continue working in those more granular ones.

[2015-01-28 22:44] OpenMatt commented on #6
- Assigning to Andrea, as she's leading on this in bugzilla

[2015-01-28 22:46] OpenMatt commented on #8
@davidascher : we need to assign this one.

[2015-01-28 22:47] #4 closed, assigned to valianttry

[2015-01-28 22:51] ScottDowne commented on #9
@OpenMatt thanks for splitting this up, much better :)

[2015-01-28 22:52] ScottDowne commented on #11
This is the repo I have been using up to this point: https://github.com/ScottDowne/call-congress-net-neutrality

[2015-01-28 23:06] cassiemc commented on #10
This is great, thanks for breaking up the tickets. Most recent designs are here: https://redpen.io/mjd5f98ae0b751ab15 I have an R+ from @vazquez, so just need an R? from @valianttry and copy review.

@OpenMatt who should I ping for copy review?

[2015-01-28 23:11] valianttry commented on #4
@cassiemc I have the final language as approved by legal for the disclaimer:

"Your call is connected with the help of a company called Twilio.  In order to connect you with your correct elected official in the U.S. Congress and with the FCC, Twilio asks for your zip code. Twilio also collects your phone number to connect your call. This information will be stored for no more than 30 days, and wil

[2015-01-28 23:12] valianttry commented on #10
@cassiemc I have the final language as approved by legal for the disclaimer:

"Your call is connected with the help of a company called Twilio. In order to connect you with your correct elected official in the U.S. Congress and with the FCC, Twilio asks for your zip code. Twilio also collects your phone number to connect your call. This information will be stored for no more than 30 days, and will

[2015-01-28 23:23] cassiemc commented on #10
Perfect, thanks! Updated the mocks: https://redpen.io/mjd5f98ae0b751ab15 Need to update w/ the logo though.

[2015-01-29 02:43] valianttry commented on #7
pros: faster, less hassle
cons: (minor) could worry privacy-conscious users if they're taken to a non-mozilla domain (clear branding and links to privacy policies / contacts help, but it could be a speed bump for some)

If we can use the same domain for any future call campaigns, here are some possibilities:
mozcalls.com/org
mozcalling.com/org
mozillacalled.com/org
mozillacalls.com/org
mozillacall

[2015-01-29 06:38] davidascher commented on #6
Actually I think a dev or JP is probably a better assignee given the specific task. JP will likely be chatting w/ @ygjb about it, so he gets it, but @ScottDowne probably cares too.

[2015-01-29 09:57] adamlofting commented on #11
@ScottDowne @simonwex or @jdotpz :
- [x] Which domain (or subdomain) are the call congress _HTML pages_ being hosted on? (we need this to setup GA, especially if it's something new) [confirmed call.m.o]
- [x] Who is hosting the server side bit of the call-congress tool?

@valianttry :
- [x] Are we running any optimization testing? (is there any plan to run this like EOY for example) [confirmed no

[2015-01-29 15:00] jdotpz commented on #11
_Who is hosting the server side bit of the call-congress tool?_
That would be us.

[2015-01-29 15:38] cassiemc commented on #10
Ok, here's the design with the updated footer. @valianttry do you want to do a final sign-off? https://redpen.io/mjd5f98ae0b751ab15

@edrushka @OpenMatt @HPaulJohnson Do any of you have time to do a quick copy review? We can adjust any changes in the build.

I'm going to move on to desktop screens asap. cc @ScottDowne

[2015-01-29 16:19] OpenMatt commented on #8
- **All design work complete**: Jan 30
- **Synch up, prioritize and assign PM in TPS**: Feb 2
- **Security review complete**: x
- **All development work complete**: x
- **QA begins**: x
- **QA complete**: x
- **Security review begins**: Jan 29
- **Security review finished**: ?
- **Ship to prod**: x
- **Mozilla campaign launches**: Feb 5
- **Tool is operational**: Feb 5 (stretch goal)
- **Tool is o

[2015-01-29 16:33] jdotpz commented on #5
Staging version is up, puppetized, automated, on jenkins, and all that happy stuff.

[2015-01-29 16:33] #5 closed, assigned to jdotpz

[2015-01-29 16:39] OpenMatt commented on #8
@davidascher @simonwex @ScottDowne : please update above

[2015-01-29 17:35] ScottDowne commented on #5
@jdotpz  Where does it live? url?

[2015-01-29 17:38] jdotpz commented on #5
https://callcongress.mofostaging.net is the URL for staging.  The prod URL is still not decided.

[2015-01-29 17:51] edrushka commented on #10
@cassiemc This is really nice work! The entire experience seems very clear. Added some minor copy suggestions in the pad, but overall R+ on copy.

[2015-01-29 18:07] HPaulJohnson commented on #10
Looks awesome, can't wait to call my congress person with it! Left a few comments in the redpen.

[2015-01-29 21:17] ScottDowne commented on #9
http://scottdowne.github.io/call-congress-net-neutrality/call-congress.html
http://scottdowne.github.io/call-congress-net-neutrality/call-congress-2.html
http://scottdowne.github.io/call-congress-net-neutrality/call-congress-3.html

Still WIP, but all three states for the P1 pages are done.

[2015-01-29 21:44] cassiemc commented on #10
Desktop versions coming here: https://redpen.io/gs2b3baa91abfb01ff
Feedback @vazquez @flukeout if you guys have a sec.

[2015-01-30 07:08] valianttry commented on #3
Other messaging drafts underway:

Mozilla Foundation email series:
https://docs.google.com/a/mozillafoundation.org/document/d/18zJefpaJq0-8RxySXghHxXosxyLH2UkrwdnGs_P8RtQ/edit

Firefox & You Email Copy Draft:
https://docs.google.com/a/mozillafoundation.org/document/d/1PC8ZKQ-ifwUW3gz06Nvb0W03uHB7My4EqtPCwaKMNWw/edit

Draft Blog Post by Dave:
https://docs.google.com/a/mozillafoundation.org/document

[2015-01-30 20:34] valianttry commented on #10
@cassiemc  I shared the designs with Holmes Wilson at Fight for the Future and he had some good feedback (take what's useful, but i know we're crunched for time and can't go through umpteen iterations):

Those designs look great.

Also, the one thing I’d flag is that the page is a bit too tall for the call form to be visible in an average person’s browser window without scrolling. We’ve found that

[2015-01-30 20:43] valianttry commented on #10
One quick note on this process:
I think not knowing what comes _before_ and _after_ this experience puts the designer at a disadvantage. For advocacy it's really important to know where the audience is coming from and therefore how they've been "prepped" before they see a tool like this. (This is a note for me as well to be more forthcoming with that context for you in future design projects.) In

[2015-01-30 21:33] davidascher commented on #10
+1 on having the user's context explicit up-front in the design process.
Good point @valianttry

[2015-01-31 21:37] valianttry opened #12 "What data will help us plan advocacy strategy in 2015?"
We want to analyze our email list, and our online advocacy data to share with participants in the advocacy work week Feb 12 - 18. We need to list some key questions we'd like answered (with data) that will help us map the most effective strategy and goals.
@Kellijk @DaveSteer

[2015-01-31 21:52] valianttry commented on #12
**Basic List Management Qs:**
- How big is the list now? What has the rate of growth been?
- What campaigns have contributed to that growth? By how much?
- What is our organic growth rate?
- What's our deliver-ability rate?
- What is our unsubscribe rate?
- What's our average open rate? How has segmentation impacted open, CTR, response; etc?
- How do the ^ metrics compare to other nonprofits or an

[2015-02-02 05:46] ScottDowne commented on #9
I took a quick pass, lateral slice to getting desktop views for the p1 pages. There are obvious, less important things that got left behind, but I wanted it working so we can iterate.

http://scottdowne.github.io/call-congress-net-neutrality/call-congress.html
^^ is up to date and should work.

Found issues should be noted in this issue for the time being.

[2015-02-02 16:19] OpenMatt commented on #10
@cassiemc  is the design work complete or ongoing?

[2015-02-02 16:23] cassiemc commented on #10
Sounds like there could be another round of feedback incorporated if that suits @ScottDowne's timelines. And we need to design the 'report back' feature.

[2015-02-02 19:07] jdotpz commented on #5
Last week, we noticed that a few differences were hosing us.  I was using python app.py instead of foreman on our puppetized version, because I was having difficulties with foreman.

https://github.com/ddollar/foreman/issues/473 has a solution for it, someone posted it two days ago(yay!).

_BEFORE_
(callcongress)root@i-38b84ed7:/var/www/callcongress# foreman start web
/var/lib/gems/1.8/gems/forema

[2015-02-02 19:50] jdotpz commented on #5
This has been completed.  Puppetization works on fresh instances, and I've confirmed the call works just as our demo instance did.

[2015-02-03 18:31] cassiemc commented on #10
- Most up-to-date mobile designs are here: https://redpen.io/mjd5f98ae0b751ab15
- Most up-to-date desktop designs are here: https://redpen.io/gs2b3baa91abfb01ff
- @valianttry – I _really_ appreciate the full context of the experience, thanks! It's pretty much what you described, and I like to design for people not reading a bunch of text in an email, but it is definitely helpful. Also helpful was

[2015-02-03 19:23] cassiemc commented on #10
My new to-do list:
- [x] Thank you screen (desktop). Wires here: http://note.io/1z8jUXh and here: https://sendto.mozilla.org/page/content/FCCvote-net-neutrality-share
- [x] Thank you screen (mobile)
- [x] Upload final mobile screens: https://redpen.io/mjd5f98ae0b751ab15
- [x] Upload final desktop screens: https://redpen.io/gs2b3baa91abfb01ff
- [x] design QA for the build

P2, if there's time:
- [

[2015-02-04 15:47] jdotpz commented on #11
We're considering using the mozillafoundation.org domain.  I'd ask @simonwex and @valianttry to please help us decide on a subdomain for this.  Some ideas...

call.mozillafoundation.org
Actually, I think that's the best option.  Remember, we'll use this tool for many campaigns, so I am loathe to call it callcongress., since sometimes, like this time, it's actually calling the FCC.  Thoughts?  We n

[2015-02-04 17:47] simonwex opened #13 "Customize audio recordings"
An archive of the current audio recordings are available here:
https://github.com/mozilla/call-congress/archive/audio-data.zip

Presumably we would like our own to replace them.

[2015-02-04 17:48] simonwex commented on #13
@valianttry is there anything else you need help with here?

[2015-02-04 22:49] cassiemc commented on #10
Posted the final designs, @alicoding @valianttry @simonwex @jdotpz (see checklist above).
Will work on 'report back' next.

[2015-02-05 10:04] adamlofting commented on #11
Thanks for the update @jdotpz

Is the HTML / front-end going to be hosted at the same location? Or is the call.tbc... domain just where we host the service. @ScottDowne do you have any clues based on the current build process?

For setting up Google Analytics, I need to know the domain for the front end pages, especially if it's a mozilla.org subdomain as I'm not an admin there and it can mean a c

[2015-02-05 14:08] jdotpz commented on #11
The update to the update is that we're using call.mozilla.org @adamlofting and that appears to be finalized at this point.

The HTML/Front end Are hosted in S3/Cloudfront, while the API backend is a classic autoscaling infrastructure setup.

[2015-02-05 14:30] adamlofting commented on #11
Great! The request is now open to setup a new GA property which we can use with this domain. https://bugzilla.mozilla.org/show_bug.cgi?id=1129929

[2015-02-05 16:18] adamlofting commented on #12
`Basic List Management Qs`
- Where do organic signups happen? (e.g. is this mozilla.org)

`Responsiveness`
- How do organic signups compare in responsiveness vs people who signed up on a particular issue (this is a challenge for any nonprofit working on many issues)

Other "data" if we had it would be
- What do our advocates care about, and want to see us work on
- What are our advocates willing t

[2015-02-05 23:26] valianttry commented on #11
I just flagged gareth cull who runs google analytics to see if he can speed up this bug. @adamlofting

[2015-02-06 14:14] jdotpz opened #14 "Remove zipcode from call-congress api app"
Per https://github.com/mozilla/call-congress-net-neutrality/issues/3#issuecomment-73213689 we would like to remove zip codes from the call logs in the call-congress backend application ( https://github.com/mozilla/call-congress )

[2015-02-06 15:13] adamlofting commented on #11
@simonwex @alicoding

We're ready to add Google Analytics to this now.
- [x] We need to add this to the master template (or each page):

[code]
- [x] We need to include this [webmaker-analytics](https://github.com/mozilla/webmaker-analytics) module whichever way is best suited to the way this app is built.
- [x] We need to instrument the javascript interactions we want to measure which do not gene

[2015-02-06 18:05] cassiemc commented on #10
@valianttry @simonwex I can't find the original wireframes anywhere in this quamire of issues! I'm looking specifically for the 'report back' page, do either of you have that handy???

[2015-02-06 18:14] cassiemc commented on #10
For my reference:
Test site here: https://mozilla.github.io/call-congress-net-neutrality/
File boogs: https://github.com/mozilla/call-congress-net-neutrality/issues

[2015-02-06 21:16] alicoding commented on #11
@adamlofting I have done three of the checklist here and have PR up https://github.com/mozilla/call-congress-net-neutrality/pull/52 for review

[2015-02-06 21:18] cassiemc commented on #10
If there are no objections I am going to file the 'Report back' designs as additional issues and close this one out. So that I can feel good about myself. :)

[2015-02-06 21:19] cassiemc opened #15 "Design 'Report Back' for Call Congress"
Moving the second design phase into this ticket, from #10.
- [ ] design report back, mobile
- [ ] design report back, desktop
- [ ] build p2 QA

[2015-02-06 21:23] cassiemc commented on #10
P2 issues for Report Back filed here: #15

[2015-02-06 21:23] #10 closed, assigned to cassiemc

[2015-02-09 14:17] adamlofting commented on #11
Thanks @alicoding :+1:
I can confirm these events are coming through to Google Analytics now. :smile:

[2015-02-09 14:17] #11 closed, assigned to adamlofting

[2015-02-10 19:11] valianttry commented on #15
Hi there! Any update on when the designs might move forward on the report back? There are 15days left in the campaign, so just checking in. We will be sending an email to the foundation list asking people to call the week of the 16th. It would be great to have the report back functionality in place by then. Note that it does NOT have to be beautiful or technical, the function is much more importan

[2015-02-10 19:42] cassiemc commented on #15
I have another p1 for the rest of this heartbeat but could move on this next week. @valianttry, can you paste the original wireframe here for that report back page? Maybe the guys could start building it off of that and I can go back and with a design review when I have more cycles.

[2015-02-10 20:17] valianttry commented on #15
Cool, I can't figure out how to attach a PDF, but below is a very rough outline for what the survey would look like. Note that we should not collect anything other than responses (no IP address, email; etc) since we just want to see aggregate data, and give people a chance to offer written feedback. The data could even be stored in a Google Doc (nothing fancy needed):

![call_tool_screenshots](htt

[2015-02-10 20:19] ScottDowne commented on #15
I have been working on these on a p2 basis and getting feedback from Ricardo when needed.

![mobile](https://cloud.githubusercontent.com/assets/197334/6135600/0f4e122a-b138-11e4-8046-b4e2c3e6eee4.png)
![tablet](https://cloud.githubusercontent.com/assets/197334/6135603/140391dc-b138-11e4-9782-ee3614fded7c.png)
![fullscreen](https://cloud.githubusercontent.com/assets/197334/6135605/17401b18-b138-11e

[2015-02-10 20:21] ScottDowne commented on #15
This is a WIP but it's in HTML and CSS already.

@valianttry yeah, it was my intent as well to submit this to a google doc.

[2015-02-10 20:23] valianttry commented on #15
oh awesome! you folks are amazeballs. My only input is that people are connected with all FCC members in sequence (not just one) which makes the survey tricky. See my treatment -- saying "at least one" is a hack, but i'm open to suggestions.

[2015-02-10 20:24] valianttry commented on #15
Also, people should only be able to choose 1 option (i see multiple checks in some of these)

[2015-02-20 18:37] valianttry opened #16 "Social share graphics for Celebration outreach on February 26th - 27th"
Etherpad here:

https://foundation.etherpad.mozilla.org/NN-victory-social

@iamjessklein @cassiemc @simonwex

[2015-02-20 19:51] valianttry commented on #13
seems all done!

[2015-02-20 19:51] #13 closed, assigned to valianttry

[2015-02-20 19:57] ScottDowne commented on #9
Finished. https://call.mozilla.org

[2015-02-20 19:57] #9 closed, assigned to ScottDowne

[2015-02-20 21:32] #15 closed, assigned to nobody

[2015-02-20 21:32] valianttry commented on #14
@jdotpz did this get done? Mind closing 'er up if 'yes'?

[2015-02-20 21:34] #8 closed, assigned to nobody

[2015-02-20 21:34] #7 closed, assigned to nobody

[2015-02-20 21:35] valianttry commented on #6
@davidascher @ScottDowne I assume the security review happened yes?

[2015-02-20 21:35] #6 closed, assigned to jdotpz

[2015-02-20 21:35] #3 closed, assigned to nobody

[2015-02-20 22:37] simonwex commented on #14
This didn't get completed, but with our low data-retention policy, I'm happy closing as good.

[2015-02-20 22:37] #14 closed, assigned to simonwex

[2015-02-23 14:33] jdotpz commented on #6
@valianttry For posterity, we did receive security signoff from @ygjb.

[2015-02-23 21:58] edrushka commented on #16
Hey @iamjessklein when can we expect a mockup? Please let me know if there are any blockers. Thanks!

[2015-02-24 17:17] edrushka commented on #16
@iamjessklein @cassiemc We're expecting the FCC's decision by 10:00 am ET Thursday so we've got a pretty tight timeline. Can you deliver a mockup today so the team can give feedback?

[2015-02-24 17:32] iamjessklein commented on #16
Hey @edrushka @cassiemc @valianttry - we are in a work week - sorry for the silence. We hope to get something to you to look at later today.

cc/ @sabrinang

[2015-02-24 17:41] iamjessklein commented on #16
We are exploring a facebook and twitter social share. @edrushka @valianttry Do you have the copy finalized?

Here are a few options that I'm thinking of:
- update this Washington graphic below to add balloons, streamers etc - to show that we are celebrating a victory.
- show some sort of celebration
- have bold text saying "I protect the world's largest public resource" #wewontheweb or some variat

[2015-02-24 23:09] valianttry commented on #16
-- I really like option #3 since I think it'll be more "sharable" -- meme-ish.
-- Could we also have a celebratory version of the "I helped protect the world's largest public resource"  / #wontheinternet img as a Facebook profile image? I'd love to swap my image out that day, and others might also like that option.
-- It would also be nice to have an updated "announcement" type graphic that has so

[2015-02-24 23:43] valianttry opened #17 "Solve: How to offer download of Facebook celebration image for 2/26 NN victory?"
@iamjessklein @simonwex @cassiemc
Hopefully Jess has time to create a Facebook profile image for people to swap in on celebration day Thursday / Friday #16 . How can we offer it to folks, say in a link in an email, to download the image so they can swap it in for their Facebook image?

Referral campaign from HRC profile image campaign: http://www.hrc.org/viral

[2015-02-24 23:45] valianttry commented on #17
Here is the email draft we want to launch to 1.5 million on Thursday offering the image to use on their Facebook profile: https://docs.google.com/a/mozillafoundation.org/document/d/1kjyfq4kic41QLmRsbPVMiN_MXOQBxpszxHfCZmQwdVk/edit

[2015-02-24 23:47] edrushka commented on #16
cc @kevzawacki @HPaulJohnson

[2015-02-25 11:05] iamjessklein commented on #16
I made some graphics - [please drop feedback in redpen](https://redpen.io/p/xz3dcd0aa97ea663a1)
I tried to keep to the palette already created for Net Neutrality campaigns.

![drib-revisions](https://cloud.githubusercontent.com/assets/535012/6369825/c56e5076-bcb7-11e4-9d68-b480e3828dc4.png)

![celebrity-05](https://cloud.githubusercontent.com/assets/535012/6369383/e4a70824-bcb3-11e4-842e-838f49cd7

[2015-02-25 16:51] valianttry commented on #16
@Kellijk

[2015-02-25 18:56] simonwex commented on #17
@jdotpz do we have a cloud-fronted bucket that we can use for this?

[2015-02-25 19:02] jdotpz commented on #17
We could use stuff.webmaker.org but we can easily make a new bucket, named whatever you'd like, and hook it up to something on mofoprod.net or with MoCo's support, something under mozillafoundation.org ?

[2015-02-25 19:51] valianttry commented on #17
obviously we want it to be easy -- maybe "wewon.mozilla.org" or something like that? Webmaker isn't a brand connected directly to the campaign, so I'd use a different one. I admit I may not fully understand the Q.

[2015-02-25 20:23] iamjessklein commented on #16
Revisions up on [Redpen](https://redpen.io/ty1e9e8e8bb2648050):
![rednn-01](https://cloud.githubusercontent.com/assets/535012/6379701/3b7bd744-bd02-11e4-8164-ef86f6fcdb99.png)
![fireworks](https://cloud.githubusercontent.com/assets/535012/6379702/3d6b28ca-bd02-11e4-8379-f3d174625124.png)

[2015-02-25 20:49] Kellijk commented on #17
heyyo @jdotpz  - either of those sound great to me, I don't have strong feelings about the actual URL, just want to make sure we're able present the graphics in a way that look solid, so we should go forth with whatever will look the best and is easier to get together.

[2015-02-25 20:55] valianttry commented on #16
All look good -- I have a strong preference for the red!
For the personal profile photo -- can we try something even more "badge-ey" and readable, like this: http://note.io/1MSlJlU (only not slapped together in Keynote)

[2015-02-25 21:00] jdotpz commented on #17
We don't care about SSL on this, do we?  cc @simonwex
I've got d2bgn2xfie6516.cloudfront.net created from the wewon.mozilla.org bucket, and I've filed https://bugzilla.mozilla.org/show_bug.cgi?id=1136894 to setup DNS to that.  @valianttry @simonwex @Kellijk let me know who will need to upload to this bucket.

[2015-02-25 21:06] valianttry commented on #17
@iamjessklein primarily, she's designing the assets

[2015-02-25 22:27] jdotpz commented on #17
Excellent.  As soon as we have DNS setup, I'll hook @iamjessklein with the ability to update that image.

[2015-02-25 22:45] valianttry commented on #16
@iamjessklein if you could prioritize the simplified Facebook profile image that would help us a lot. We're linking it in our email, which Kelli has in production. We also have to test it prior to tomorrow's launch.

[2015-02-25 23:08] jdotpz commented on #17
Note: these are crappy res screenshots to use in the example email, do not use these for prod!
http://wewon.mozilla.org/eg1.JPG
http://wewon.mozilla.org/eg2.JPG
http://wewon.mozilla.org/eg3.JPG
http://wewon.mozilla.org/eg4.JPG
http://wewon.mozilla.org/eg5.JPG

[2015-02-25 23:52] iamjessklein commented on #17
Hey - I put the files on dropbox [here](https://www.dropbox.com/sh/5j9bun6w066sz6m/AAAvT7mFZ2jHv1MkJmVxMVeaa?dl=0)

[2015-02-26 00:07] iamjessklein commented on #16
![finals](https://cloud.githubusercontent.com/assets/535012/6383697/642d2fe8-bd21-11e4-9f9f-740bf65aeb00.png)

Added to dropbox [here](https://www.dropbox.com/sh/5j9bun6w066sz6m/AAAvT7mFZ2jHv1MkJmVxMVeaa?dl=0)

[2015-02-26 00:14] valianttry commented on #16
@jdotpz see ^ for the dropbox files. @Kellijk FYI

[2015-02-26 01:25] jdotpz commented on #16
Filenames, all sitting on wewon.mozilla.org/filename
facebook.png                fb.png                        twitter-fireworks.png
fb-avatar.png                nn.ai                        twitter.png
fb-fireworks.png        twitter-avatar.png

[2015-02-26 19:16] edrushka opened #18 "Update advocacy site with NN win graphic"
RACI

Driver: @edrushka
Dev: @wex - PLEASE ASSIGN
Design: minimal design needed @iamjessklein
Copy: @kevzawacki
Decision-maker: @valianttry
Consulted: @HPaulJohnson @DaveSteer @melechuga

We need to update https://advocacy.mozilla.org/ with the results of the NN decision:

Replace the white 'Protect Net Neutrality' banner (all text, logo and CTA buttons) with:

1) A banner featuring the red image

[2015-02-26 19:39] HPaulJohnson commented on #18
Link for #3 is broken. Should be this one https://blog.mozilla.org/blog/2015/02/26/a-major-victory-for-the-open-web-2/

[2015-02-26 20:54] KevZawacki commented on #18
Updated copy (minor edits to Erika's work):

Headline: On February 26, the FCC voted to protect net neutrality

Subhead: You made this victory possible! Thank you for helping preserve the world's most valuable public resource.

cc @iamjessklein

[2015-02-27 17:54] #17 closed, assigned to nobody

[2015-02-27 17:55] #16 closed, assigned to valianttry

[2015-02-27 17:57] valianttry opened #19 "Delete phone numbers and other data as promised for call tool users"
We promise to delete call data associated with users within 30 days. We can do this anytime, but should complete it no later than March 15.

@simonwex I assigned JP (guessed)

[2015-02-27 18:01] jdotpz commented on #19
We already delete this nightly.

[2015-02-27 18:01] #19 closed, assigned to jdotpz

[2015-02-27 18:01] simonwex commented on #19
:rocket: :rabbit: !

[2015-02-27 18:55] valianttry commented on #19
^ WHAT WEX SAID! :boom:

[2015-03-02 18:11] iamjessklein commented on #18
Just saw this now, will pull a mockup together.

[2015-03-02 19:16] edrushka commented on #18
Thanks, @iamjessklein! @cassiemc can you confirm that Jess is the designer on call for advocacy stuff for this heartbeart?

[2015-03-02 19:49] cassiemc commented on #18
Yes @edrushka, I can confirm – @iamjessklein you're the on-call engagement designer this week. Thanks for taking initiative here.

[2015-03-02 21:14] iamjessklein commented on #18
Hey @edrushka @HPaulJohnson @KevZawacki  - I posted two slightly different iterations of the mockup [here on redpen](https://redpen.io/p/xz3dcd0aa97ea663a1)

![nn1](https://cloud.githubusercontent.com/assets/535012/6450630/2ae893ec-c0f7-11e4-8821-e3e6ef2ae6b4.png)

![nn2](https://cloud.githubusercontent.com/assets/535012/6450636/3035d24c-c0f7-11e4-8db5-db63fa5586d4.PNG)

[2015-03-02 21:57] edrushka commented on #18
Nice! I prefer the first version, and I think the read more can just be a text link after the sentence - a button isn't necessary. @Melechuga @DaveSteer @valianttry

[2015-03-02 22:13] KevZawacki commented on #18
Looks great! No copy changes from my end.

[2015-03-02 23:48] edrushka opened #20 "Design update to advocacy site for fellows announcement"
Meta ticket is here: https://github.com/MozillaFoundation/plan/issues/370
Driver: @edrushka
Design: @iamjessklein
Decision-maker: @Melechuga
Consulted: @DaveSteer  @valianttry @KevZawacki @HPaulJohnson

Deadline for design: May 22
### Next steps

[x] Scope work (done [here](https://foundation.etherpad.mozilla.org/open-web-fellows-site-updates))
[x] Design fellows banner on front page
[ ] Design fe

[2015-03-02 23:50] edrushka opened #21 "Build update to advocacy site for fellows announcement"
Meta ticket is here: MozillaFoundation/plan#370
Driver: @edrushka
Dev: @alicoding
Decision-maker: @Melechuga
Consulted: @DaveSteer @valianttry @KevZawacki @HPaulJohnson

Scoping document: https://foundation.etherpad.mozilla.org/open-web-fellows-site-updates

We need to:
- [ ] Build the design finalized in Issue #20
- [ ] QA on staging
- [ ] Push to prod at Kevin/Melissa/Dave's discretion

Deadline

[2015-03-02 23:56] edrushka opened #22 "Transfer Wordpress knowledge to dev team"
@mmmavis will be on PTO during April, when the updates to the Advocacy site need to be made:
Meta ticket: https://github.com/MozillaFoundation/plan/issues/370
Design ticket: https://github.com/MozillaFoundation/movement-building/issues/20
Build ticket: https://github.com/MozillaFoundation/movement-building/issues/21

Before she leaves on March 17, knowledge transfer must occur, so other devs can u

[2015-03-03 00:39] simonwex commented on #22
@mmmavis could you document the details here?

[2015-03-03 00:54] mmmavis commented on #22
Sure, this is for https://advocacy.mozilla.org/, correct?

I will put instructions here but it will be helpful if I can meet with whoever is going to make changes to the site before I go on PTO... since... WordPress is evil and I'm worried the docs I produce won't be 100% reliable. :scream:

[2015-03-03 01:01] edrushka commented on #22
Yes, this is for https://advocacy.mozilla.org/

[2015-03-03 14:52] iamjessklein commented on #18
Calling out this comment from @DaveSteer - and would like to touch base before I go forward with the next round of designs as the scope seems to have slightly been adjusted.

"This section is giving too much prominence to something that people cannot take action on. Let’s create a 50-50 split. On the right, we can have the NN celebration/thank you. This should include image of #WonTheInternet, an

[2015-03-03 17:07] edrushka commented on #18
+1 we should circle up. I'll book a short meeting @iamjessklein @DaveSteer

[2015-03-03 17:27] cassiemc commented on #18
@edrushka me too please!

[2015-03-03 18:27] edrushka commented on #18
@cassiemc @DaveSteer @iamjessklein @valianttry @Melechuga Let's meet after the advocacy team has a chance to circle up tomorrow to clarify who's project-managing this site.

[2015-03-04 22:02] edrushka commented on #18
@iamjessklein love your initiative with the alternative layouts in Redpen

This particular ticket was filed as (what I hoped would be) a quick update to remove the Call Congress and Sign the Petition CTA's that were no longer relevant when the NN campaign ended last week.

In April, the site will need more significant changes when the Open Web Fellows get announced. Here is the ticket in /plan: ht

[2015-03-05 00:51] cassiemc commented on #18
+1 on decoupling the structural changes atm. I do think @iamjessklein's will be helpful in coming up with long-term templating solutions, so really nice work there Jess. Linking just for historical purposes (start here then move forward: https://redpen.io/ov9f35d39b5ecbe2ee )

[2015-03-05 13:05] iamjessklein commented on #18
+1 sounds good to me, mainly was concerned with carving out "promotional content" real estate on the site, which it sounds like is on everyone's minds.  Let me know what you decide on regarding this particular issue @valianttry @edrushka

[2015-03-05 16:55] edrushka commented on #20
@iamjessklein did some great work rethinking the structure of the advocacy site to carve out space for promotional content. We still need to scope the fellows update, but pasting Jess' designs as inspiration: https://redpen.io/ov9f35d39b5ecbe2ee

[2015-03-05 17:02] edrushka commented on #18
@valianttry is now on PTO, returning March 16, so I'm going to close this issue. We can re-open if Andrea wants to move ahead in late March. Given that we need to update the site in early April for the Open Web Fellows announcement, she may opt to make this change then. I've moved @iamjessklein designs for structural changes to the Open Web Fellows announcement design ticket: https://github.com/Mo

[2015-03-13 22:23] mmmavis commented on #22
I'm writing the docs now.
@edrushka can you make sure
1. you can access to https://advocacy.mozilla.org/wp-admin
2. and you know how to create an admin account for whoever is going to build updates to the Advocacy site?

Another note is that that person will need to have **ssh access**  to the server, I hope @jdotpz can still help with that :wink:

[2015-03-14 00:38] edrushka commented on #22
I can't remember my login name and password. Can you pls reset my pw and pm me my name? Thanks!

[2015-03-16 20:16] mmmavis commented on #22
I've reset the password for @edrushka.  Will post the instructions on how to update the site here today.

[2015-03-16 21:41] edrushka commented on #22
Thanks! I can now log in and create admin accounts.

[2015-03-17 00:35] mmmavis commented on #22
# Access to WordPress Dashbaord and Server

## WordPress Dashboard
- Make sure you have an admin account on https://advocacy.mozilla.org/wp-admin.  If you don't, contact @edrushka and she can help you get one.

## Server Acess
- The WordPress `/wp-content` directory syncs with [our Advocacy site repo](https://github.com/mozilla/advocacy.mozilla.org).
  1. make sure you have **ssh access** to the s

[2015-03-17 00:36] mmmavis commented on #22
^ I'm gonna finish the rest tomorrow :panda_face:

[2015-03-17 18:32] mmmavis commented on #22
@edrushka @simonwex
done and doneeeeeeeeeeee
alrighty, I tried to be as detailed as I could so hopefully this is good enough for someone to refer to :wink:

[2015-03-17 18:33] mmmavis commented on #22
Maybe we can add this to the handbook as a draft for now so I don't have to write one again for scratch next time haha

[2015-03-17 19:08] edrushka commented on #22
Whoa! this is EPIC! Thanks @mmmavis  And +1 to finding a home for this info beyond this ticket.

Also, amazing use of stressed emoji!! :grimacing: :cold_sweat:

[2015-03-18 01:09] simonwex commented on #22
Great work, @mmmavis

[2015-03-18 18:35] edrushka commented on #18
Re-opening. I'd like to remove the Call Congress and Petition CTA buttons and replace with basic text and a link to Mitchell's blog (as I outlined above) . @DaveSteer @valianttry please sign off so we can move this forward with a dev.

[2015-03-18 18:43] DaveSteer commented on #18
(Apologies - I had my Github email notifications incorrectly set and missed that we had closed this a few weeks ago. +1 for re-opening).

Approved to move forward, but can I see the latest version of the mockups? I remember commenting on them a few weeks ago and would love to see what we did as a result. Thanks.

Also - can we fix the button misalignment issue. See attached.
![screen shot 2015-03-

[2015-03-18 18:48] edrushka commented on #18
@DaveSteer you can view the mockup here: https://redpen.io/mj6366fbe60426efd6 I propose that we remove the button and add a simple 'Read More' text link at the end of the sentence that will point to Mitchell's blog.

[2015-03-18 19:06] DaveSteer commented on #18
My main concern is that it is too red-white-blue, which plays into the narrative that we are too focused on the U.S. Of course, this was a victory in U.S. policy, but the impact is global as other policy makers look to the U.S. Can we tone down the 'red'? Also, now that it's been 20+ days since the victory, it seems a bit too aligned to the vote. Are there other options that don't focus just on th

[2015-03-18 19:09] edrushka commented on #18
@DaveSteer let's circle up with @valianttry and come to a consensus on what you want, visually. Then we can finalize the design and pass off to a dev.

[2015-03-19 15:33] iamjessklein commented on #18
Perhaps the messaging shouldn't use the Net Neutrality "theme-ing" but be more aligned with the tone of the advocacy site. I wonder if there is a special ribbon or mark we could craft that signifies a victory. If we do that - then we could actually showcase several campaigns simultaneously in different states (victory, act now, time sensitive)

[2015-03-19 17:23] edrushka commented on #18
Oh nice idea, @iamjessklein! Love how you're thinking of long term design for the site! We're meeting Monday afternoon to sort out the content - I'll update this ticket as soon as we land.

[2015-03-19 22:29] iamjessklein commented on #18
:+1:  awesome

[2015-03-23 20:00] valianttry opened #23 "Fix error for recurring donors who want to edit their information"
This might be a task for @mmmavis (?)
cc: @quakpac

We need to check the URLs provided on recurring donation pages to make sure donors are seeing the correct links.

Email conversation for reference:

Your request (#32397) has been updated.

To review the status of the request and add additional comments, follow the link below:
http://bsd.zendesk.com/requests/32397

You can also add a comment by r

[2015-03-23 20:01] davidascher commented on #23
mavis is on PTO. cc @simonwex

[2015-03-23 21:31] edrushka commented on #18
Ok, we got ourselves organized, @iamjessklein :)

Based off this redpen https://redpen.io/mj6366fbe60426efd6 please do the following:
1) change background to white
2) if the building needs a background coloured square, that's fine. Try to minimize the red/white/blue American vibe as much as possible.
3) Remove the Read More button. That should be a hyperlinked 'Read more' line of text at the end o

[2015-03-23 23:34] edrushka commented on #18
I filed this in /plan https://github.com/MozillaFoundation/plan/issues/399

[2015-03-25 18:12] valianttry opened #24 "Update the page for editing recurring donations; it's dated"
We now have thousands of new monthly donors since EOY campaign, and we're getting a lot more hits to this page:
https://sendto.mozilla.org/page/recurring/find/

But as you can see it's about 30 versions old. We need to update this to current brand guidelines.
![mozilla__donate](https://cloud.githubusercontent.com/assets/9830371/6831788/c6a7d582-d2df-11e4-8f3b-12ef92f96be2.png)

cc @edrushka

[2015-03-25 18:30] edrushka commented on #24
Ha! That’s so old it’s almost retro cool. If we leave it for 2 more years we’ll be ironic/cutting edge again ;)

TPS is sorting out how to address these misc tasks with no urgent deadline, so I'll make sure this gets labeled properly when the new system is in place.

[2015-03-26 00:10] simonwex commented on #24
@edrushka you'll actually have someone dedicated to helping you out next Heartbeat. Also, I believe you're right: http://www2.warnerbros.com/spacejam/movie/jam.htm

[2015-03-26 22:50] Melechuga commented on #20
Specs:
- 6 Fellows, going to 6 host organizations.
- Story: Meet our first cohort of fantastic Fellows! (We're treating them as one cohort, and not focusing on the 6 individual stories as much.)
  Need:
- Announcement that goes on the front page (advocacy.mozilla.org) and lead to the "Open Web Fellows" page (https://advocacy.mozilla.org/open-web-fellows/)
- Designs for Fellows page with space for

[2015-03-27 13:39] KevZawacki commented on #20
Any background documents I'll need to start in on the copy? Or, should I simply draw on this: https://advocacy.mozilla.org/open-web-fellows/

[2015-03-27 15:39] iamjessklein commented on #20
also don't feel compelled to use my design work - was just sketching

[2015-03-27 20:49] quakpac commented on #23
/CC @simonwex

[2015-03-27 23:31] simonwex commented on #23
I can't seem to log in to BSD at the moment. @ScottDowne could you help me look into this Monday morning?

[2015-03-27 23:55] ScottDowne commented on #23
Yeah, I am having trouble logging in too. I think I have the wrong sign in link?

Nvm, found it.

[2015-03-28 02:40] ScottDowne commented on #23
I made a monthly donation and a few things come to mind.
1. We send no info about it being monthly and no info on how to cancel it.
2. So I googled it, and got "http://www-archive.mozilla.org/foundation/donate_faq.html#monthly" which is only instructions for paypal but we don't really communicate that paypal and bsd are not the same type of monthly donation, so the user might think they need to us

[2015-03-28 03:56] ScottDowne commented on #23
Edit not working has something to do with the code on this page "https://sendto.mozilla.org/page/recurring/edit/" <-- that won't work if you didn't get there via "https://sendto.mozilla.org/page/recurring/find"

I cannot seem to find those pages anywhere in BSD to start to fix what's wrong.

There is a JS error "TypeError: $theForm.parsley(...) is undefined" which makes me think it's using our mai

[2015-03-28 04:27] ScottDowne commented on #23
After doing my debugging and going back and reading the initial comment, it makes more sense now.

It looks like it is a shared wrapper: "The one outlier here is that when a user goes to edit their page, it will use the wrapper of the page that they made their initial donation on, which is where I think the problem is"

That is totally it. We could just, in the wrapper, ensure we check that "$theF

[2015-03-28 04:31] ScottDowne commented on #23
It doesn't look like I have access to either of these links:

https://sendto.mozilla.org/utils/blue_dictionary/admin/section.php?component=modules/contribution&section=Recurring%20Contribution%20Search%20Form

https://sendto.mozilla.org/utils/blue_dictionary/admin/section.php?component=modules/contribution&section=Recurring%20Contribution%20View%20Page

[2015-03-28 07:08] simonwex commented on #23
@jdotpz does your account have different permissions?

[2015-03-28 14:20] jdotpz commented on #23
It would seem so, as I'm able to access both of those links.

![screen shot 2015-03-28 at 9 19 53 am](https://cloud.githubusercontent.com/assets/1373628/6881398/ae4f1088-d52b-11e4-993a-8ab560002df8.JPG)
![screen shot 2015-03-28 at 9 19 43 am](https://cloud.githubusercontent.com/assets/1373628/6881396/adaa2640-d52b-11e4-9a25-64639edf22b3.JPG)

[2015-03-30 20:30] simonwex commented on #22
I updated the readme at https://github.com/mozilla/advocacy.mozilla.org/.

[2015-03-30 20:30] #22 closed, assigned to mmmavis

[2015-03-30 22:07] valianttry commented on #23
@ScottDowne True there is a lot wrong with the monthly donor pages and infrastructure. I was prioritizing the most egregious things (broken links) now, but the rest are not P1s. There are other issues related to fundraising / movement building that I think are higher priority, relatively speaking.

[2015-03-31 19:56] edrushka commented on #20
@iamjessklein here's the work @flukeout is doing to replace the Net Neutrality take action banner with the success banner: https://github.com/MozillaFoundation/plan/issues/399

[2015-04-01 01:29] iamjessklein commented on #20
thanks
@Melechuga @edrushka @DaveSteer can you tell me what the name of the program is? Google - Mozilla Open Web Fellows?

[2015-04-01 04:16] Melechuga commented on #20
@iamjessklein Ford-Mozilla Open Web Fellows. Website: https://advocacy.mozilla.org/open-web-fellows/

[2015-04-01 04:18] Melechuga commented on #20
@KevZawacki We have some other documents that could be more useful for wording; I'll ping them to you via email.

[2015-04-01 17:58] iamjessklein commented on #20
I put some sketches up. Please add your feedback [to the redpen](https://redpen.io/p/todce5900fd1e6f214)

[2015-04-01 18:55] iamjessklein commented on #20
@edrushka updated with placeholder art mockups

[2015-04-02 19:04] OpenMatt opened #25 "Create section 215 petition page"
- Full context is in the Planning meta-ticket:
  https://github.com/MozillaFoundation/plan/issues/426
- We'll use the exact same template as the Net Neutrality petition page:
  https://sendto.mozilla.org/page/s/FCCvote-net-neutrality
- Finalized copy for the page is here (it has been reviewed and approved by legal, policy) http://mzl.la/1NL2OsJ
- Remove the "countdown" feature we used for NN. It's

[2015-04-02 19:05] OpenMatt commented on #25
Question for @valianttry. Do you want to:
a) Remove the countdown?
b) Keep it. And have it say "Section 215 of the Patriot Act Expires in X days," with countdown to June 1?

[2015-04-02 19:07] Melechuga commented on #21
Want to see if we can add one small link to the header on the front page when this goes through; no design needed, just add a link (Community) to our external discourse page from the front advocacy.m.o page. Thanks!

[2015-04-02 19:12] OpenMatt opened #26 "Update advocacy.mozilla.org frontpage"
- Context in Planning meta-ticket: https://github.com/MozillaFoundation/plan/issues/426
- Goal: update the front page of the site with a "Sign the section 215 petition" call to action. Similar to what we did with the Net Neutrality campaign.
- Master design file http://mzl.la/1CfzhPh more context: http://mzl.la/1NEAx5g

There's a dependency here that will need some co-ordination: @iamjessklein is

[2015-04-02 19:25] OpenMatt commented on #26
Jess is already working on updates to the page to announce the Open Web Fellows. Here's her Redpen: https://redpen.io/dxd5f78746d8c15c63
- @valianttry : I think we should be able to just paste your new copy + a link into her existing design. The icon at the left (Congress with the red background) could work as is. we can just remove the fireworks.
- @valianttry : let us know here when you have som

[2015-04-02 20:15] edrushka commented on #21
I'm not clear where this link should go.

[2015-04-02 21:06] Melechuga commented on #21
We're thinking after "Open Web Fellows" but before "Get Involved," and it would link to https://discourse.mozilla-advocacy.org/

![screen shot 2015-04-02 at 2 05 19 pm](https://cloud.githubusercontent.com/assets/5815317/6973690/5b257702-d941-11e4-8d78-5fb62711ca7c.png)

[2015-04-02 21:10] edrushka commented on #21
Ah, I see: another link in the top nav. That should be possible. Thanks for clarifying.

[2015-04-02 21:57] valianttry commented on #26
@OpenMatt so close, got feedback from policy team on draft.  Final text coming (possibly) tomorrow.

[2015-04-03 14:22] iamjessklein commented on #26
Great @valianttry @OpenMatt I will have mockups to share on Monday.

[2015-04-03 19:22] valianttry commented on #25
@OpenMatt

The language has been reviewed and approved by legal, policy; etc. Final  language is here:

https://docs.google.com/a/mozillafoundation.org/document/d/16jQ79yjCAC76Q88JZDePVQcy8iyA8JVSnzTyVmsDg2U/edit

Still need:
- Opt-in language
- Security, Privacy review

[2015-04-06 15:55] iamjessklein commented on #20
Updated both the Open Fellows and Surveillance content.
Take a look and comment on redpen [here](https://redpen.io/cx15d88f7f19121420) and [here](https://redpen.io/ahefee82bb2ef994e0)

cc/ @edrushka @valianttry @OpenMatt @Melechuga @DaveSteer @KevZawacki @ScottDowne

![advocacy-1](https://cloud.githubusercontent.com/assets/535012/7006987/b76d0f88-dc53-11e4-97ef-f775e49a07c3.png)

[2015-04-06 16:26] OpenMatt commented on #25
Awesome! now that the language is approved, all blockers are clear on this ticket. We should be able to press ahead with the dev work. We just need a dev assigned -- as per my flag for @simonwex and @davidascher here:
https://github.com/MozillaFoundation/plan/issues/426

[2015-04-06 16:29] OpenMatt commented on #26
Note the new mock-ups here:
https://redpen.io/cx15d88f7f19121420
https://redpen.io/ahefee82bb2ef994e0

[2015-04-06 16:30] valianttry commented on #25
Let's remove the countdown at the top alltogether, it's not as "clear cut" of an "end date" as for the net neutrality vote. Congress could just kick the can again and render June 1 moot.

[2015-04-06 16:30] OpenMatt commented on #26
@iamjessklein is the only difference here the red binoculars vs. white binoculars?

[2015-04-06 16:31] OpenMatt commented on #26
@valianttry : let us know if you have finalized copy that Jess can flow in here for your piece?

[2015-04-06 17:37] valianttry commented on #26
Final petition copy is here: https://docs.google.com/a/mozillafoundation.org/document/d/16jQ79yjCAC76Q88JZDePVQcy8iyA8JVSnzTyVmsDg2U/edit

This copy can be used for anything (short descriptions; etc)

[2015-04-06 17:39] OpenMatt commented on #25
- Assigning to @ScottDowne  as per Wex
- Scott: can you confirm here that you have what you need to get started?

[2015-04-06 18:13] alicoding commented on #21
Can I request someone who got admin permission to create me user account on https://advocacy.mozilla.org ?

[2015-04-06 18:30] OpenMatt commented on #26
@iamjessklein when you're done the design work for this, will up need help from a developer to implement?

[2015-04-06 19:37] ScottDowne commented on #25
Dev page: https://sendto.mozilla.org/page/s/section-215-petition-dev

Ready for QA and when that's done I can update the url and it should be good to go.

[2015-04-06 19:58] ScottDowne commented on #25
I stubbed out a thank you page: https://sendto.mozilla.org/page/s/section-215-petition-thanks

Not sure what we want in it yet.

[2015-04-06 20:13] OpenMatt commented on #25
@ScottDowne : remove double period here. "Tell Congress to stop bulk collection of our personal information.."

[2015-04-06 20:14] OpenMatt commented on #25
@ScottDowne can you include a link to the thank you page we used for the Net Neutrality petition? We can adapt what we did there here.

[2015-04-06 20:22] ScottDowne commented on #25
Here is the NN thank you page: https://sendto.mozilla.org/page/s/FCCvote-net-neutrality-thanks

[2015-04-06 20:27] OpenMatt commented on #25
Thanks Scott. @valianttry : can you advise on whether you'd like to follow the same or different approach on the thank you page? Plus any copy changes you'd like?

Do we want to to include the Call Congress tool here, or just remove it and include the email sign-up prompt?

[2015-04-06 20:28] ScottDowne commented on #25
@valianttry so, I'm having issues getting the signature to actually go somewhere... Not sure what I am missing yet.

[2015-04-06 21:06] ScottDowne commented on #25
From: http://tools.bluestatedigital.com/kb/article/how-is-constituent-data-updated

"When records, new or existing, enter your constituent system, they are temporarily staged.  Matching, merging, and conversion to a permanent constituent record is handled by a timed process.  For that reason, you may experience a delay of 15-30 minutes from the time a record enters your system to the time that new

[2015-04-06 21:37] OpenMatt commented on #25
@ScottDowne is that a question for Andrea? or for engineering / @simonwex / @jbuck ?

[2015-04-06 21:38] ScottDowne commented on #25
@OpenMatt It's for someone that knows BSD. I think my page is setup wrong, but I'm super stumped.

[2015-04-06 21:45] ScottDowne commented on #25
I updated the link: https://sendto.mozilla.org/page/s/section-215-petition

Still not accepting submissions though. Still stumped.

[2015-04-07 01:54] ScottDowne commented on #23
I was testing things in this test page: https://sendto.mozilla.org/page/contribute/seq-test-page

I got it kinda working with the edit page for donations made in the above test page. All the js errors are gone, but the css is still pretty busted.

From the first comment in this bug "we can also change the wrapper that is used on those pages, but its something we have to do on the back end, so let

[2015-04-07 11:45] OpenMatt commented on #25
re: thankyou page: @valianttry sends this:
the confirmation page should not include the call Congress promotion at this time. I marked it up here:
![sendto_mozilla_org___2015_fccvote_net_neutrality_thanks](https://cloud.githubusercontent.com/assets/9830371/7015059/84c7500a-dc82-11e4-89cb-feccf1f6acd9.png)

[2015-04-07 11:46] OpenMatt commented on #25
@wex or @jbuck : @ScottDowne needs help with BSD issues here. can you help?

[2015-04-07 14:34] iamjessklein commented on #26
Updated design can be found [on redpen](https://redpen.io/myb3ad380c9196493d)
![takeaction](https://cloud.githubusercontent.com/assets/535012/7025434/9f817e4a-dd11-11e4-8770-4ff2bce7718f.png)

[2015-04-07 14:35] ScottDowne commented on #25
Fixed it: https://sendto.mozilla.org/page/s/section-215-petition

Properly storing submissions now. I emailed BSD help yesterday and they got back to me today.

I'm sorting out the thank you page, shouldn't be long now.

[2015-04-07 14:38] iamjessklein commented on #26
For quick implementation, I'd recommend first doing a quick change to the Net Neutrality work with this CTA, and then circling back later when we have the Open Web Fellows work finalized.

cc/ @Melechuga @OpenMatt @valianttry @ScottDowne

[2015-04-07 14:55] OpenMatt commented on #26
@iamjessklein looks great Jess. I'm still not clear though:
 once this new design is approved and ready to ship, will you need a developer to implement it? Or can you implement the changes on production yourself?

[2015-04-07 14:56] OpenMatt commented on #26
@valianttry can you sign off on the surveillance portion of the new design? copy and graphic look good to you?

[2015-04-07 15:08] iamjessklein commented on #20
New mockup to correspond with the snippet and tile campaign imagery (but the Open Web Fellows remain untouched).
In order to implement this, I will need:
- [ ] photos of fellows
- [ ] final copy

![takeaction](https://cloud.githubusercontent.com/assets/535012/7026199/5df661b6-dd16-11e4-8e45-fb7efb9c7ee1.png)

[2015-04-07 15:18] OpenMatt commented on #20
Thanks Jess. Looks great to me. @Melechuga: you're the decision-maker. Does this design work for you on the Open Web Fellows piece?

[2015-04-07 15:18] OpenMatt commented on #20
### Need fellow photos

@Melechuga : we also need finalized photos for the Fellows. so that Jess can add them into the design. Do you have those?

[2015-04-07 15:38] OpenMatt commented on #20
### Need 2015 fellows page copy
- @Melechuga : we also need copy for the "meet the fellows" page. Presumably with short bios for each of the Fellows. @Melechuga @KevZawacki do you have that?
- We can follow a similar format to what Open News does here:  http://opennews.org/what/fellowships/2015meet/

**Note this means we'll have _two_ pages:**
-  i) https://advocacy.mozilla.org/open-web-fellows/ -

[2015-04-07 16:56] Melechuga commented on #20
Thanks @iamjessklein! Looks great.
At the moment, copy + photos are still TBD; if you could please finish the design with dummy content that would be great. Have talked to @OpenMatt; he has details for going forward.

[2015-04-07 17:28] ScottDowne commented on #25
An email is sent right now when a user signs up on the thank you page.

Should I continue to send this or remove the sending feature? I say we should send an email.

Right now I borrowed the email from net neutrality, which has a generic "... Thank you so much for signing up to get important news and information from Mozilla. ..." email body (I didn't paste the wole email), and a title of "Thanks

[2015-04-07 17:35] ScottDowne commented on #25
Net neutrality thank you page sign up redirected to this: https://sendto.mozilla.org/page/content/FCCvote-net-neutrality-share

So I created a: https://sendto.mozilla.org/page/content/section-215-petition-share/

I need to update the contents in the share messages, they are still net neutrality:

I'm not sure how, but I'll likely need copy for that too. Net neutrality ones are like so:

![share](h

[2015-04-07 17:39] OpenMatt commented on #25
@valianttry : can you provide confirmation email copy? + share message copy?

[2015-04-07 17:40] OpenMatt commented on #25
@davidascher @wex : we're pretty close to having this completed and ready to ship. What's the protocol / next steps for testing and QA on petition pages like this?

[2015-04-07 17:48] OpenMatt commented on #25
@KevZawacki : Andrea says you can provide the confirmation email and share message copy, above. Doable? Those are now the final blockers on this one.

[2015-04-07 18:04] OpenMatt opened #27 "Do security review on 215 petition page"
This is ready for sec review: https://github.com/MozillaFoundation/movement-building/issues/25

cc @simonwex @ScottDowne @davidascher

[2015-04-07 19:09] KevZawacki commented on #25
@OpenMatt @valianttry

Certainly. How's this:

Share copy:
- Twitter: I just signed the petition to end mass surveillance. Tell Congress how you feel about Section 215: [link]
- FB: You can help end mass surveillance. Sign the petition to Congress and help put an end to Section 215, legislation that threatens privacy and the open web. [link]

Confirmation email copy:
- Subject: Thank you for stand

[2015-04-07 19:59] ScottDowne commented on #25
@KevZawacki I think this is a generic signup email in the post process. So it probably shouldn't be about section 215 but about mozilla in general, no?

The page that sends the email is here: https://sendto.mozilla.org/page/s/section-215-petition-thanks

[2015-04-07 20:00] ScottDowne commented on #25
@KevZawacki However, we are not currently sending out an email for 215 signatures, and we can! If so that email copy can be used.

I can do that but it wasn't the original question and up to this point I wasn't aware that we wanted that.

[2015-04-07 20:04] KevZawacki commented on #25
@ScottDowne Ah, pardon the confusion — my fault. Scott, are you able to share the full copy from the original net neutrality email? I can use that as a springboard.

[2015-04-07 20:31] ScottDowne commented on #25
@KevZawacki Original net neutrality didn't have an email, only the thank you page sent out an email, and it had a specific name and a generic body. The body was as follows:

[code]

I think we can get away with keeping it the same if possible.

[2015-04-07 20:40] valianttry commented on #25
Yes please don't change standard copy that's not dated. We don't send a confirmation after someone takes action (feels spammy). We only send confirmation if someone signs up to be on our list. Let's not create more work than needed :)

@KevZawacki re: share copy i offer minor tweaks. I wouldn't say 215 specifically because no one knows what it is, i'd keep it to "mass surveillance".

Share copy ha

[2015-04-07 20:56] KevZawacki commented on #20
@Melechuga @OpenMatt

Draft copy for pages 1 and 2 is here: http://goo.gl/kFmW0S
Awaiting @Melechuga & @DaveSteer's approval, plus details on the individual fellows.

[2015-04-07 21:00] KevZawacki commented on #25
+1 to @valianttry's revisions. Thanks!

[2015-04-07 21:05] davidascher opened #28 "The thank-you page feels under-designed"
on https://sendto.mozilla.org/page/content/FCCvote-net-neutrality-share,

Lots of fairly random headings and a lone "Share" exhortation:

![screenshot 2015-04-07 14 04 19](https://cloud.githubusercontent.com/assets/51278/7033464/14edd0b2-dd2f-11e4-91bd-e24cf38596fb.png)

[2015-04-07 21:06] davidascher opened #29 "Invalid zipcodes aren't described as such"
if I put in a zipcode with too many digits, I get a not-very-useful error message

![screenshot 2015-04-07 11 01 13](https://cloud.githubusercontent.com/assets/51278/7033507/538bb686-dd2f-11e4-8d9c-2851ff2d53f9.png)

[2015-04-07 21:08] davidascher opened #30 "Maybe use a less cryptic URL than https://sendto.mozilla.org/page/s/section-215-petition"
Given that nobody likely knows what section 215 means?

[2015-04-07 21:10] davidascher opened #31 "Need padding around checkbox in narrow view on safari"
![screenshot 2015-04-07 14 09 38](https://cloud.githubusercontent.com/assets/51278/7033558/c998a474-dd2f-11e4-8e53-3f9e6463c4d3.png)

[2015-04-07 21:54] valianttry commented on #25
@ScottDowne When will you be ready for Q&A? Lemme know. I have a few little things like this:

![sendto_mozilla_org___section_215_petition](https://cloud.githubusercontent.com/assets/9830371/7034394/f501e3ae-dd35-11e4-9404-e32d0faab2e2.png)

[2015-04-07 23:32] ScottDowne commented on #25
@valianttry now is good

[2015-04-07 23:36] Melechuga commented on #20
Thanks @KevZawacki! Made a few suggestions using language from our program overview (https://docs.google.com/a/mozillafoundation.org/document/d/1mhRtRkQORvRQbodehJJzQ_ypbovzdyxQe-layvftjvc/edit#) for the first paragraph. Awaiting @DaveSteer's review. Fellow details will come at a later date.

[2015-04-08 16:11] OpenMatt commented on #20
@KevZawacki looks great -- on page 1  I'd just change "FORD-MOZILLA OPEN WEB FELLOWS" to FORD-MOZILLA OPEN WEB FELLOWSHIPS
- so: page 1 is about the Fellowship. page 2 is about the Fellows.

[2015-04-08 16:13] OpenMatt commented on #20
@iamjessklein if you're able to create this as a dummy page in WordPress, that'll make it easy for others to just flow in the new copy and bios when they have them. @Melechuga if you can make sure Jess has the WordPress credentials she needs that would probably help.

[2015-04-08 18:33] DaveSteer commented on #20
Sending @iamjessklein the credentials to the wordpress site now.

[2015-04-08 19:10] iamjessklein commented on #20
Update: You can [check the redpen](https://redpen.io/oydebbe556026f6c07), but I iterated a little on the eye design.
![advocacy-plaineye](https://cloud.githubusercontent.com/assets/535012/7053213/5fff577e-de01-11e4-96e7-7b9d3465ba87.png)

[2015-04-08 19:39] ScottDowne commented on #25
Updated the copy and updated the email subject title.

I just need to figure out how to embed the social sharing links with updated copy.

[2015-04-08 20:58] ScottDowne commented on #25
Share page is done.

I think that was everything requested in this ticket?

QA?

[2015-04-08 21:23] OpenMatt commented on #27
They're starting QA on the page now.

[2015-04-09 06:57] valianttry opened #32 "Share buttons post old net neutrality copy on surveillance petition"
@KevZawacki has updated copy

[2015-04-09 13:02] OpenMatt opened #33 "Design tile for section 215 petition campaign"
- Planning ticket: https://github.com/MozillaFoundation/plan/issues/426
- Specs: http://mzl.la/1FES7nV

[2015-04-09 13:07] OpenMatt commented on #33
Initial copy ideas: (static / rollover)

Stand up to mass surveillance / Petition Congress to end Section 215
Tell Congress it's time to stop mass surveillance / Sign the petition to end Section 215
You can help stop mass surveillance / Tell Congress not to reauthorize Section 215
Protect your right to privacy / Take action now to stop Section 215
Congress votes soon on mass surveillance / Stand u

[2015-04-09 13:07] KevZawacki commented on #32
Yep, here: https://github.com/MozillaFoundation/movement-building/issues/25#

[2015-04-09 13:08] OpenMatt commented on #33
@valianttry says:

I don't think we should say "section 215" in any of our shorter calls to action, it's not recognizable / jargon. We should just say "help end mass surveillance". I also don't like "Tell congress how you feel" -- it sounds wishy-washy and not impactful. I like this one best:

Tell Congress it's time to end mass surveillance / Sign the petition

if the above is too long:

It's tim

[2015-04-09 13:09] OpenMatt commented on #33
### Finalized copy for tile

@iamjessklein :
here is our finalized copy:

**Tell Congress it's time to end mass surveillance / Sign the petition**

or if the above is too long:
**It's time to end mass surveillance / Sign the petition**

@iamjessklein can you proceed and close this out?

[2015-04-09 13:19] OpenMatt commented on #25
What's the final step to close this ticket? @ScottDowne: are we waiting on @valianttry for final QA?

[2015-04-09 13:20] OpenMatt commented on #27
@ScottDowne has now completed initial QA and is waiting for final approval from Andrea
- @simonwex or @davidascher : please tap the mic on this ticket to let us know next steps

[2015-04-09 13:21] OpenMatt commented on #26
@valianttry : please sign off and then we can mark this one closed.

[2015-04-09 14:02] davidascher commented on #27
Given that from a technology POV, as I understand it, this is mostly a copy & paste from the NN campaign, I'm not particularly worried.  I would suggest that @ScottDowne do a walk through of the non-layout diffs with someone.  @simonwex to figure out who.

[2015-04-09 14:29] iamjessklein commented on #33
Hey I took a stab at a few options for the tile direction. Please add your comments on [redpen](https://redpen.io/ob285439f46e2e0f5e)

![tile-options](https://cloud.githubusercontent.com/assets/535012/7068861/5967cdb8-dea3-11e4-8c14-8a7ef957e40d.png)

[2015-04-09 15:38] OpenMatt commented on #27
Cool! Thanks David. @ScottDowne + @simonwex : over to you guys to close this ticket when ready.

[2015-04-09 15:41] OpenMatt commented on #33
nice! over to @valianttry : for approval.

[2015-04-09 15:59] ScottDowne commented on #27
Yeah, a security review should be quick. Anyone know who did the sec review on the NN petition?

[2015-04-09 17:56] Jochai1 opened #34 "Thank you page opt-in issue"
I signed the petition when using an iPhone running iOS 8.2. When I got to the thank you/opt-in to receiving future alerts from Mozilla page, I deliberately clicked on sign up now without checking the opt-in box. While the appropriate error message popped up in red, I wasn't able to actually click on the box, instead I saw a flashing cursor overlaid on top of the box.

[2015-04-09 17:59] valianttry commented on #33
I like all of them! Can we make "Sign the Petition" under the eyeball a little bit larger font? It looks smaller than the others. Other than that, these are all approved! Thanks so much @iamjessklein

[2015-04-09 21:31] iamjessklein commented on #33
Revised [on redpen](https://redpen.io/fc8c046f4ad156fb45)

![tiles-export](https://cloud.githubusercontent.com/assets/535012/7077370/3cf3f8e2-dede-11e4-8667-e89dc208fc5d.png)

[2015-04-09 22:06] iamjessklein commented on #33
Or....

![output_yr5cdi](https://cloud.githubusercontent.com/assets/535012/7077930/de015172-dee2-11e4-8634-ced119ce3f9c.gif)

![sign](https://cloud.githubusercontent.com/assets/535012/7077967/0b4067e0-dee3-11e4-880d-46437519ad6e.png)

[2015-04-09 22:45] ScottDowne commented on #23
@valianttry I think we should request that "we can also change the wrapper that is used on those pages, but its something we have to do on the back end, so let me know if you want me to do that." happens.

[2015-04-09 23:04] simonwex commented on #27
@ScottDowne could you book some time with me tomorrow to go over it? I'll do the review.

[2015-04-10 12:30] OpenMatt commented on #25
@valianttry : please give final approval here so we can close this ticket today.

[2015-04-10 12:31] OpenMatt commented on #33
@valianttry : can you give final approval here today and then close this ticket?

[2015-04-10 12:36] OpenMatt commented on #26
The design for this is done. But will wait to mark this closed once it's shipped to the live site. @iamjessklein : do you need a developer to do that? Or can you do it?

[2015-04-10 12:37] iamjessklein commented on #33
I believe @valianttry said that she was going to share this with the corporation folks. Is it possible to get a final decision or for me to do an art handoff today?

[2015-04-10 15:55] ScottDowne commented on #27
@simonwex I booked some time you had free. Not sure if I booked it in time to be appropriate but I am flexible (and can do after 5 EST) so let me know if it's not ideal and we can find something better.

[2015-04-10 16:03] ScottDowne commented on #26
I'm doing dev for this right? If so, I'm happy to just do the dev in this ticket.

[2015-04-10 16:04] iamjessklein commented on #26
Thanks @ScottDowne - is there anything that you need from me to help you move forward?

[2015-04-10 16:15] OpenMatt commented on #26
- This links to the petition page, so is naturally blocked on sec review closing first.
- Note that we're only shipping the Surveillance CTA, not the web fellows portion: https://dl.dropboxusercontent.com/spa/6c38yp3crbxni5b/cp2ad2cm.png

[2015-04-10 18:21] OpenMatt commented on #26
@ScottDowne : you all set to push this to prod once the petition page is live?

[2015-04-10 18:26] ScottDowne commented on #26
@OpenMatt nope, just starting dev on it now.

[2015-04-10 20:09] simonwex opened #35 "Padding is off around checkbox and error messages"
This is for the buildout of #25

![image](https://cloud.githubusercontent.com/assets/25260/7095869/d0bb01f2-df82-11e4-8f72-cc23c0e4a02f.png)

[2015-04-11 00:38] davidascher opened #36 "Scrub BSD data"
As per https://bugzilla.mozilla.org/show_bug.cgi?id=1151659, at the end of the campaign (when we stop soliciting signatures), let's
- [ ] look through the BSD database
- [ ] extract whatever summary reports we need
- [ ] for people who didn't opt into email campaigns / longer term engagement, scrub their PII from BSD

[2015-04-12 17:58] valianttry commented on #34
@simonwex meet @Jochai1 :smile:
Jochai works with Chris Riley on setting policy direction and has some wicked campaigning skills. I asked him to help QA and he found a bug.

[2015-04-12 17:59] valianttry commented on #30
This feels like a low priority. Most people will not read the URL window (though arguably more of our "mozilla" folks probably do, but this is an edge case. Given time crunch I say let's not change, though it would be preferable for me to help decide page names for this reason.

[2015-04-12 18:10] valianttry opened #37 "Advocacy Homepage Promo Block for Sec. 215 surveillance petition"
Just flagging urgency on the homepage block, I don't see Jess on the bug yet here (I just commented there to get things moving again):
https://bugzilla.mozilla.org/show_bug.cgi?id=1152159

We have two options:
1. In the interest of time, keep the megaphone and update the copy;
2. Try out the eyeball on the homepage (I have to check with the moco folks, including Matej). I will ask on the bug if th

[2015-04-13 04:01] valianttry opened #38 "Email callout for Sec. 215"
We need a quick update to the email callout image we used for net neutrality so we can repurpose for 215.

Net Neutrality version is here:
https://sendto.mozilla.org/page/-/2015%20Email%20CO/mozilla-advocacy_net-neutrality-february-2015_email-call-out-2.png

Needed changes:
Delete "Time is running out"
Insert: "Tell Congress to end mass surveillance"
Take Action button: no change

[2015-04-13 15:00] OpenMatt commented on #35
@ScottDowne status?

[2015-04-13 15:00] OpenMatt commented on #25
will close this one once that padding issue is resolved

[2015-04-13 15:01] ScottDowne commented on #35
@OpenMatt Ugh, forgot about this...

[2015-04-13 15:01] OpenMatt commented on #27
@simonwex @ScottDowne what's the status on this one? can we mark closed?

[2015-04-13 15:03] OpenMatt commented on #33
@valianttry: what's the status on this one?

[2015-04-13 15:07] ScottDowne commented on #35
@simonwex

Not able to reproduce or find someone else that can reproduce it.

However, a bit of padding wouldn't hurt, so I can add some anyway. (I would still like to track this down though)

Is this a blocker?

[2015-04-13 15:30] ScottDowne commented on #35
I can reproduce with Ali's computer useing chrome on an external monitor.

Might be a chrome bug when using a retina computer with a non external monitor. @simonwex does that line up with where and how you saw it?

I'll see if I can find bug reports about that, but otherwise it's looking like this might be kinda fringy.

[2015-04-13 15:49] ScottDowne commented on #35
Update, has nothing to do with retina, I saw it on a non retina mac, but mac+chrome+external monitor seem to be the reproducible cases from my tests. But, because it's happening on external monitors it could be pretty complex.

[2015-04-13 16:11] OpenMatt commented on #37
- Lets just go with (1) -- it requires zero design work, and is just as good.
- @valianttry: I'll update the bugzilla ticket.

[2015-04-13 16:12] #37 closed, assigned to iamjessklein

[2015-04-13 16:29] OpenMatt commented on #38
Scott has the source file. Scott can you just update the copy, as per above?

[2015-04-13 16:32] simonwex commented on #27
tl;dr: green light.

@OpenMatt the work specific to the petition page is good-to-go. There is still an open ticket in bugzilla where folks are looking for some potential BSD issues. -- If there are valid issues here, our exposure wouldn't be any different than EOY campaign or NN. Also our recourse wouldn't be fast enough for this project.

@ScottDowne could you link to the bugzilla ticket?

[2015-04-13 16:32] OpenMatt commented on #38
Actually Sabrina will do this

[2015-04-13 16:36] mmmavis commented on #38
@sabrinang help! :stuck_out_tongue_closed_eyes:
i dont remember building this in code so i assume this was an image you made

[2015-04-13 16:38] simonwex commented on #35
@ScottDowne could it just be a viewport-size issue? It seems a bit strange for it to be because it's on an "external monitor".

[2015-04-13 16:49] ScottDowne commented on #27
@simonwex this one? https://bugzilla.mozilla.org/show_bug.cgi?id=1151659

If you're not cc'ed on it you won't be able to view it.

[2015-04-13 16:50] ScottDowne commented on #27
Ah, likely this is the one you meant.

https://github.com/MozillaFoundation/movement-building/issues/36

[2015-04-13 17:11] valianttry commented on #25
I just tested the petition again and got the old social share copy again from NN, is that because i need to do a hard refresh? I tested in both FF and chrome
![facebook](https://cloud.githubusercontent.com/assets/9830371/7120897/7b93fd60-e1c5-11e4-8109-3c2a84f90243.png)

[2015-04-13 17:39] valianttry commented on #38
@mmmavis and @sabrinang  Here's the original bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1129125

WELCOME BACK!!!  :fireworks: :scream: :smile: :smile: :smile: :smile: :smile: :smile: :smile: :smile: :smile: :smile: :smile: :smile:

[2015-04-13 17:39] ScottDowne commented on #25
@valianttry I'll double check.

[2015-04-13 17:42] ScottDowne commented on #25
@valianttry Good catch. Should be fixed now.

What was wrong was the new thank you page was redirecting to the old share page.

I updated the link in one spot, but that wasn't enough, I needed to update it in the code too.

[2015-04-13 17:55] mmmavis commented on #25
sometimes using the [Facebook Debugger](https://developers.facebook.com/tools/debug/) to fetch new scrape info would help

[2015-04-13 18:20] valianttry commented on #25
Yup fixed. We really need to make our social share prettier than the giant M I made 1.5 years ago in PPT :wink: Not today obvi.

[2015-04-13 18:30] valianttry commented on #33
Tiles are not launching tomorrow. We're working with Moco on 1) finalizing the promotion schedule / audience; and 2) getting their feedback on design. This might be on hold for the moment.

So @OpenMatt nothing is holding anything up from your end... it's other stuff being worked through.

[2015-04-13 18:32] #32 closed, assigned to nobody

[2015-04-13 18:48] ScottDowne commented on #26
![front-eye](https://cloud.githubusercontent.com/assets/197334/7122821/d034392c-e1eb-11e4-8087-f99159852362.png)

Not sure how to share this live because it's bsd, but here is a screenshot.

Here is the code: http://pastebin.com/ZhDiFcq8

Pasting that into advocacy homepage call to action, and hitting preview, should get you the page we can publish when ready.

[2015-04-13 18:53] edrushka commented on #21
Done.

[2015-04-13 19:50] edrushka commented on #38
This is needed ASAP. The email is set to go out tomorrow (April 14) at 8:00 am PST.

[2015-04-13 19:56] mmmavis commented on #38
I _think_ @sabrinang might not be very reachable today due to traveling for work.

I'm not sure if this is the latest .ai file as she's the asset master but I did find [this](https://www.dropbox.com/s/wk07fyy1urxe7pb/mozilla-advocacy_net-neutrality-february-2015_email-call-out.ai?dl=0) in our old StudioMofo Dropbox.  Maybe we can get help from another designer if this ticket needs to be done urgen

[2015-04-13 20:25] valianttry commented on #35
@ScottDowne and @simonwex did this get fixed?

[2015-04-13 20:35] edrushka commented on #38
I did this using the .ai file in the comment above.
![mozilla-advocacy_section-215_email-callout](https://cloud.githubusercontent.com/assets/4515662/7124937/d271b85e-e1e1-11e4-9f46-da1ad8569fb7.png)

[2015-04-13 21:41] ScottDowne commented on #35
No, I haven't looked at it since I last updated.

I'm still leaning towards chrome bug, but would be nice to confirm/reduce it.

[2015-04-13 22:06] ScottDowne commented on #35
Here is my thoughts.
1. Changing checkbox sizes are not something you can easily do in CSS, it's an OS thing like a page's scroll bar.
2. It's only on chrome with an external monitor with a mac.
3. it's still a usable form.
4. and my guess is most (not all) of our users are in firefox anyway.

It is for those reasons I say we don't worry about this. If any of those are proven false, that might cha

[2015-04-13 22:07] valianttry commented on #35
OK by me.

[2015-04-13 22:44] edrushka commented on #26
Hey @ScottDowne - can we make this live as early as possible tomorrow (April 14)? The petition goes live tomorrow morning, and it links to this page. Please flag @valianttry for review on Skype or IRC when it's up, since we can't really see it on staging. Thanks!

[2015-04-13 23:00] valianttry opened #39 "Make sure tracking is all GO for surveillance"
Adam we've been using the campaign URL builder for our tracking:
https://sendto.mozilla.org/page/s/section-215-petition

Does everything look good to go? When you have a chance, mind setting up a conversion report similar to the one we used for NN (by channel)? Thanks @adamlofting !!

[2015-04-13 23:07] ScottDowne commented on #26
@edrushka can do. How does 9:00 EST sound?

[2015-04-13 23:30] ScottDowne commented on #26
Actually, would rather ship 6:00 EST if it's all the same to everyone else.

@valianttry @DaveSteer Sound good?

[2015-04-14 08:24] adamlofting commented on #39
@valianttry is there somewhere I can see the final tagged URLs to check the parameters are OK?

I'll get to work on that report, hopefully today.

[2015-04-14 10:06] ScottDowne commented on #26
It's up. https://advocacy.mozilla.org/

Now that it's live, iterating on new issues becomes much easier.

[2015-04-14 14:36] iamjessklein commented on #26
Since this is up, I propose that we close this issue. Any additional issues should be filed separately. :bug: :beetle:

cc/ @OpenMatt @edrushka

[2015-04-14 14:46] adamlofting commented on #39
@valianttry:
1. The GA dashboard, by channel has been setup here:
   https://www.google.com/analytics/web/?authuser=0#dashboard/_5YjUt3IRZ6BSHsySqUeWQ/a35433268w64184110p65898710/
2. I've found an issue with the site when reviewing the analytics though. Where should I file this and which developer is working on this? Basically, the header code for the HTML has been pasted in twice so we're loading

[2015-04-14 17:43] valianttry commented on #39
@ScottDowne can help fix the analytics setup.
@OpenMatt @edrushka is there a "checklist of things" for project kickoff, and can we add "analytics setup" to that list? I take responsibility for this oversight, sorry for adding stress @adamlofting. :cat:

[2015-04-14 18:00] ScottDowne commented on #39
Fixed, looks like it was a pasting error in one of the wrappers. No idea how old, but our wrapper header was duplicated in the footer, causing all sorts of nonsense.

[2015-04-17 21:20] edrushka opened #40 "Design interstitial experience for Surveillance snippet campaign"
#### Master ticket is here:
#### RACI:

Driver: @edrushka
Design: @cassiemc
Decision Maker: @valianttry (who will also act as liaison for MoCo signoffs)
#### Milestones: Design finalized: Friday April 24
- [x] UX
- [x] UI direction
- [x] Interactions / different states
- [x] Final illustrations and svg assets
- [x] Design review

Note: Snippet style updates have moved to https://github.com/Mozilla

[2015-04-17 21:23] edrushka commented on #40
#### Details:

**Step 1: The Snippet**
Moving eyeball icon with the text ‘Do you believe that mass surveillance is an infringement on your civil liberties? Get smart on surveillance: [LINK TO INTERSTITIAL PAGE]’

Notes:
We will test "Get smart on" language e.g. Individuals’ security and privacy on the Internet are fundamental and must not be treated as optional. Is mass surveillance a violation?

[2015-04-17 21:29] edrushka opened #41 "Build interstitial experience for Surveillance snippet campaign"
#### RACI:

Driver: @edrushka
Dev: @ScottDowne and/or @alicoding
Decision Maker: @valianttry (who will also act as liaison for MoCo signoffs)
#### Milestones:
- [ ] Build finalized: Wednesday April 29 EOD
- [ ] QA: Thursday April 30

Design ticket it here: https://github.com/MozillaFoundation/movement-building/issues/40

[2015-04-17 21:31] edrushka opened #42 "QA interstitial experience for Surveillance snippet campaign"
#### RACI:

Driver: @edrushka
Dev: @ScottDowne and/or @alicoding
Informed: @simonwex
#### Milestones:
- [x] Build finalized: Wednesday April 29 EOD
- [ ] QA: Thursday April 30
- [ ] Snippet dates: Friday May 1 to May 15 (to be confirmed, and dependent on conversion rates)
#### Individual tickets:

Design ticket: https://github.com/MozillaFoundation/movement-building/issues/40
Build ticket: https:/

[2015-04-20 14:12] ScottDowne commented on #40
@edrushka If there are any copy changes to the snippet or anything we want to AB test we should probably update https://bugzilla.mozilla.org/show_bug.cgi?id=1152133 with that info.

Snippets can be a little time consuming to update so the sooner we get it locked down the better I'll feel :)

[2015-04-20 14:22] ScottDowne commented on #40
Step 3 worries me a bit. Thought:

Can we do an MVP for this, with simple fade transitions as the reveal, and have that done a week sooner? I'm probably more concerned about the page layout than the transitions. If the page layout can be done I can get started while the reveal is still being designed.

Is there a revel after each question or one big one at the end of all three?

[2015-04-20 15:27] edrushka commented on #40
@ScottDowne - can you join the kickoff meeting today so we can raise these questions with the design team? Agree we should define MVP and nice to have.

[2015-04-20 15:29] cassiemc commented on #40
@flukeout Can you put together a quick diagram of the flow for this before our kickoff?

[2015-04-20 15:57] flukeout commented on #40
Yep!

[2015-04-20 16:39] ScottDowne commented on #39
@adamlofting is everything good here? Can we close?

[2015-04-20 16:44] adamlofting commented on #39
:boom:

[2015-04-20 16:44] #39 closed, assigned to adamlofting

[2015-04-20 17:08] edrushka commented on #39
Oh, we better create another ticket for the interstitial page then. Or re-open this one?

[2015-04-20 17:20] ScottDowne commented on #39
@edrushka new ticket

[2015-04-20 18:43] flukeout commented on #40
@cassiemc UX take 1...

![privacy-ux-1](https://cloud.githubusercontent.com/assets/25212/7237750/6ec67332-e752-11e4-834c-d4ac5e08c468.png)

[2015-04-20 18:50] edrushka commented on #40
This is super, @flukeout. We originally envisioned the Continue button taking you to directly petition or the blog, and not another page. What do you think is the best UX?

[2015-04-20 18:58] edrushka opened #43 "Add metrics to interstitial experience for Surveillance snippet campaign"
#### RACI:

Driver: @edrushka
Dev: @ScottDowne
Metrics @adamlofting
Consulted: @valianttry
#### Milestones:

Build finalized: Wednesday April 29 EOD
QA: Thursday April 30
Snippet dates: Friday May 1 to May 15 (to be confirmed, and dependent on conversion rates)
#### Individual tickets:

Design ticket: #40
Build ticket: #41
QA ticket: https://github.com/MozillaFoundation/movement-building/issues/42

[2015-04-20 18:58] edrushka commented on #39
Interstitial metrics ticket is here: https://github.com/MozillaFoundation/movement-building/issues/43

[2015-04-20 19:30] flukeout commented on #40
@edrushka Okay - will update the diagram! I think if we just have the one page then the fold-out transition might make it too tall, maybe the second option for revealing the info would be more appropriate. Stay tuned!

[2015-04-20 19:34] cassiemc commented on #40
I like the reduced number of steps. Feels like there still needs to be a final message above the 'continue' button though, to give some sort of context to the cta / next step. So maybe just a header or short message there above the button that could appear after all 3 questions are answered.

[2015-04-20 19:37] flukeout commented on #40
@cassiemc Def.

[2015-04-20 19:46] edrushka commented on #40
Agree. Just saying "continue" doesn't let people who care know that they can actually _do_ something.
@ScottDowne is it possible to display one of two different messages before the continue button, depending on how people have answered?
1) Right now US Congress is rethinking mass surveillance. Read the blog to learn more. [continue]
2) Right now US Congress is  rethinking mass surveillance. Sign t

[2015-04-20 20:15] flukeout commented on #40
![privacy-ux-2](https://cloud.githubusercontent.com/assets/25212/7239510/54a58bca-e75f-11e4-9b7c-1d820645ff5b.png)

[2015-04-20 20:16] ScottDowne commented on #40
@edrushka Yeah, displaying a message based on what they answered is easy.

[2015-04-20 21:04] cassiemc commented on #40
Having 'continue' at the very bottom feels risky and easily missed. Maybe we can play with different placements / adjustments, ie. having all the other panels close when the continue button/panel appears, or auto-scrolling you down to that section. Thoughts @flukeout @ScottDowne?

[2015-04-20 21:35] flukeout commented on #40
The continue will appear appear after interacting with the last question in the survey, so I think it might be okay. Since we're revealing some information about the third question right after the user answers it, we shouldn't immediately hide that content or auto-scroll away. We could play with the treatment or placement of the continue message and button. I'll try some things out.

[2015-04-20 23:15] flukeout commented on #40
Update to previous concept, with CTA more closely tied to the content:

![image](https://cloud.githubusercontent.com/assets/25212/7242565/67f3d4ca-e778-11e4-8aaf-4b72fccc575c.png)

[2015-04-20 23:37] edrushka commented on #40
This works for me.

[2015-04-21 16:07] cassiemc commented on #40
Update: I'm working on UI for this now based on @flukeout's latest.

[2015-04-21 19:20] flukeout commented on #40
Here's my idea for incorporating the eyeball in the CTA:

![image](https://cloud.githubusercontent.com/assets/25212/7260698/c71e5d3c-e820-11e4-8a8c-287bc3c524aa.png)

[2015-04-21 19:36] edrushka commented on #40
Heee! I love it! I like having a visual link to the snippet. What happens when the 2nd and 3rd questions pop up? 3 eyes?!

[2015-04-21 19:37] edrushka commented on #40
Oh wait, it's on the CTA. To me it actually makes more sense on the question(s) rather than the CTA. We don't want people to be scared to press continue!!!

[2015-04-21 19:59] cassiemc commented on #40
+1 about the fear association with the continue button in the CTA. I think I'd rather it incorporated into the header somehow so it is somewhat peripheral and not as tied to an interaction.

[2015-04-21 21:50] cassiemc commented on #40
I'm going to take a break from this but will post a design tonight / first thing tomorrow.

[2015-04-22 17:00] cassiemc commented on #40
Looking for quite general feedback at this point. Here are two different layouts. I started with side-by-side panels then moved to a horizontal layout to better match @flukeout's wireframes. The vertical panel iteration could still be useful for mobile layout. Thoughts on general direction @flukeout @edrushka @valianttry @ScottDowne? I'd like to add a lot more detail and finesse. Actually reminds

[2015-04-22 17:16] flukeout commented on #40
@cassiemc Nice work! I prefer the first option - I think it's easier to read each section as one chunk when they're laid out that way. However, I think it would be good to still incorporate the envelope icon in the middle section for consistency.

[2015-04-22 17:47] davidascher commented on #40
UX: The first layout feels like a set of three alternative choices, and I
expect some response after the first choice is made. The second layout
feels like three sequential choices, and I expect a response after I've
made all three choices.

Words: (Missing "The" before "Government" in the first column, first
layout).

The bigger question I have is around emotional impact and voice.  The stark
red

[2015-04-22 18:00] ScottDowne commented on #40
Some tests with what the black and white eye would look like in the snippet:

http://scottdowne.github.io/eoy-snippets/eyeball-snippet-bw-center/
http://scottdowne.github.io/eoy-snippets/eyeball-snippet-bw-outline/
http://scottdowne.github.io/eoy-snippets/eyeball-snippet-bw-nooutline/

[2015-04-22 18:07] davidascher commented on #40
@scottdowne: would be good to force a position-eye-relative-to-cursor on
page load, not wait for first mousemove.  Otherwise the eye is centered,
and the centered eyeball in particular doesn't look like an eye if it's
smack in the middle.  Or just decenter it on initial load.

[2015-04-22 18:09] cassiemc commented on #40
@davidascher yes, next step is to dial it back a bit! Thanks for the feedback. We are leaning toward the better usability of the horizontal panels (second layout)

[2015-04-22 18:13] cassiemc commented on #40
@ScottDowne The black eyelid is cool. A couple things:
- I think we could lose the drop shadow around the eye. depending on the final styles of the interstitial page, we might want to add a bkg color or shape to tie it even more closely. I can design that after I finalize this page.
- would like to see what a thicker outline on the outer eye looks like (the inner pupil outline can stay as-is)
- un

[2015-04-22 18:18] davidascher commented on #40
The outline of the glare on the outline version sometimes leaves the pupil, and it seems to me that breaks the illusion (because glares don't have outlines):

![screenshot 2015-04-22 11 15 44](https://cloud.githubusercontent.com/assets/51278/7281857/13ee38c4-e8e1-11e4-8145-10d72b66412b.png)

[2015-04-22 18:33] ScottDowne commented on #40
@davidascher I made the eye default to wander.

Previously it would wander after three seconds of no mouse move (mostly for mobile)

Seems strange that it waits three seconds before doing this, default should be wander.

Maybe we should move eye related concerns into another ticket?

[2015-04-22 18:46] ScottDowne opened #44 "Update Surveillance snippet eye to match interstitial experience designs"
Right now the eye is blue.

The designs in https://github.com/MozillaFoundation/movement-building/issues/40 are moving towards a black and white eye.

This mean we probably need to update the snippet to match.

Initial work is here:

http://scottdowne.github.io/eoy-snippets/eyeball-snippet-bw-center/
http://scottdowne.github.io/eoy-snippets/eyeball-snippet-bw-outline/
http://scottdowne.github.io/e

[2015-04-22 18:47] ScottDowne commented on #40
Moving snippet eye related issues to: https://github.com/MozillaFoundation/movement-building/issues/44

[2015-04-23 17:29] cassiemc commented on #40
Here's an updated design. Still not final but a step in the right direction. Got some good feedback at today's standup and will iterate (gist was that the color / openness / cleanness are feeling more onbrand; the icons need to be modernized, and need to get away from slightly western feel). Overall my strategy is to: clean up, simplify, modernize. And design the interactive states as well once th

[2015-04-23 18:32] flukeout commented on #40
@cassiemc This is looking cool! Some feedback:
- Ditch the little eye lines? I think it's distracting that they overlap like that.
- Lighten the corners on the white area, I think they draw the eye away from the middle a bit
- Soften the "OR" boxes? They're chunkier than the radio buttons visually.

Looks great!

[2015-04-24 00:39] cassiemc commented on #40
Thanks for the feedback @flukeout. I think I'm finally at the point where I can start finessing the element hierarchy, and your comments help. Here's where I currently am before beginning the night session. cc/ @edrushka @valianttry

![surveillance-v3](https://cloud.githubusercontent.com/assets/1186326/7310376/d6227e24-e9f8-11e4-8546-ba86cff604b5.png)

[2015-04-24 04:16] cassiemc commented on #40
Played with a lot of things but still felt too vintage, so in the end just simplified things a lot. Here's the in-between version:
![surveillance-v3b](https://cloud.githubusercontent.com/assets/1186326/7312249/24d3f152-ea16-11e4-8372-d14256392b4c.png)

And where I ended up:
![surveillance-v4](https://cloud.githubusercontent.com/assets/1186326/7312255/2deb3d04-ea16-11e4-9582-6c1bc83fd9d6.png)
![sur

[2015-04-24 16:15] cassiemc commented on #40
Here's the page with an open panel. The answer they selected slides over into the middle of the righthand panel and an x appears in case they want to choose a different answer. If they hit x, the black explanation panel should not disappear or change, since that content is the same no matter what you've answered. We could add a small 'next' link to the black panel which would slide you down to the

[2015-04-24 16:29] cassiemc commented on #40
Here's another less-heavy version (https://redpen.io/oz58598d25c83f62ca):

![surveillance-v4-openb](https://cloud.githubusercontent.com/assets/1186326/7323581/8da31688-ea7d-11e4-832b-f6cb18ffcd1c.png)

[2015-04-24 16:54] edrushka commented on #40
@cassiemc I really like this less heavy version, and the icons seem more fun on reveal.

[2015-04-24 17:33] cassiemc commented on #40
@flukeout can you please do a design review on these? https://redpen.io/pn357d948ea89f32fc and https://redpen.io/oz58598d25c83f62ca

[2015-04-24 18:29] edrushka commented on #23
@valianttry pinging you on this one. I believe the next step is for you to contact BSD to make this request. Please let us know when that's happened.

[2015-04-24 18:34] valianttry commented on #40
I like this direction! :clap:

[2015-04-24 21:25] cassiemc commented on #40
Updated designs (with colour!) here: https://redpen.io/p/wf5197457dc9cb6ebd

Here's the final CTA. Still working on illustrations.
![surveillance-v4-final-cta](https://cloud.githubusercontent.com/assets/1186326/7328857/e5a412c8-eaa6-11e4-8f8d-8be928e1ef85.png)

[2015-04-24 21:29] #18 closed, assigned to edrushka

[2015-04-27 13:21] adamlofting commented on #43
@ScottDowne once the build for this starts, can we:
1. Add [webmaker-analytics](https://github.com/mozilla/webmaker-analytics) to the code base
2. Add event tracking for in-page interactions (e.g. user answers q1, q2, etc) - like we did for the call-congress front-end pages.

Shout if you need any more detail and/or want me to look over a PR when it's ready.

As a heads up, I'll be on PTO next wee

[2015-04-27 15:55] ScottDowne commented on #25
Pretty sure this should be closed.

Page is live here: https://sendto.mozilla.org/page/s/section-215-petition

If there are other bits that we are waiting on, they can be filed in more specific tickets.

[2015-04-27 15:55] #25 closed, assigned to ScottDowne

[2015-04-27 15:56] ScottDowne commented on #26
@iamjessklein agreed, closing.

[2015-04-27 15:56] #26 closed, assigned to ScottDowne

[2015-04-27 16:15] cassiemc commented on #40
Here's the feedback from Moco via email. Mostly copy changes:
- [x] Love the education and the conditional “answers” given to users.
- [x] Love the eyeball!
- [ ] The site doesn’t explicitly call out that Mozilla is for “stopping mass surveillance.” Maybe this can be woven into the petition CTA.
- [ ] Right now the petition CTA is to “help make civil liberties an important part of the conversation

[2015-04-27 22:40] simonwex commented on #34
:wave: Hey @Jochai1!

@edrushka, I assigned this to you, do you mind adding it to your wrangling?

[2015-04-27 22:43] ScottDowne commented on #41
My copy is probably outdated, I'm missing transitions, icons, the eye, and probably other small bits.

But, here is a slice through content, style, and just enough interaction to make it explorable: http://scottdowne.github.io/surveillance-interstitial/public/

[2015-04-27 22:44] edrushka commented on #34
Confirming that this is the Surveillance petition. Also, @Jochai1, I don't suppose you got a screenshot?

[2015-04-27 22:45] ScottDowne commented on #41
Forgot that the last step needs to be dynamic depending on the answers.
- [x] Make final CTA dynamic.

[2015-04-27 22:49] edrushka commented on #41
@valianttry please send Scott final copy when it's ready!

[2015-04-27 22:55] ScottDowne commented on #41
Copy is easy to swap out, so I don't mind working with whatever until closer to the end.

[2015-04-28 02:01] Jochai1 commented on #34
It was indeed about the surveillance petition. However, I'm not able to
replicate it now, so I'd say forget about it. Sorry to have wasted folks'
time.
-Jochai

On Mon, Apr 27, 2015 at 3:44 PM, Erika Drushka notifications@github.com
wrote:

[2015-04-28 03:04] ScottDowne commented on #34
Yeah, interesting.

I tried to replicate with no luck, I also tried to come up with a theory as to what the flashing cursor could have been. Maybe it was an OS level thing?

I'll keep my eyes open though, and feel free to reopen if you see it again :)

[2015-04-28 03:04] #34 closed, assigned to ScottDowne

[2015-04-28 14:44] cassiemc commented on #44
Hey @ScottDowne @edrushka @valianttry  this is what I had in mind as a style update, what do you think?
![surveillance-snippet](https://cloud.githubusercontent.com/assets/1186326/7372192/7281cf5c-ed93-11e4-83e1-6cbec6e996aa.png)

[2015-04-28 15:07] cassiemc commented on #40
@edrushka @valianttry I'll add the above to the implementation ticket as I don't see any implications for design (except perhaps for the headline if we decide to change that).

[2015-04-28 15:09] cassiemc commented on #41
Here's the feedback from Moco via email. I am cutting svg assets this morning.
- [x] Love the education and the conditional “answers” given to users.
- [x] Love the eyeball!
- [ ] The site doesn’t explicitly call out that Mozilla is for “stopping mass surveillance.” Maybe this can be woven into the petition CTA.
- [ ] Right now the petition CTA is to “help make civil liberties an important part of

[2015-04-28 15:13] cassiemc commented on #41
@ScottDowne The x's aren't working for me to reset the questions, not sure if you're there yet.

[2015-04-28 15:24] edrushka commented on #44
Oh, I LOVE it!

[2015-04-28 15:24] ScottDowne commented on #44
Works for me.

It moves right?

[2015-04-28 15:26] cassiemc commented on #44
Yes, it moves! @ScottDowne I'd assume you need svg for the background of the eye (all but the inner circle)?

[2015-04-28 15:30] ScottDowne commented on #44
Yeah, I can make the iris and pupil in css.

I could also move around two svgs if you want to make the iris and pupil another separate svg, whichever you feel like doing. My guess is it's as easy for me to make it in css.

[2015-04-28 16:51] cassiemc commented on #44
@ScottDowne The background asset for the eye is here: https://www.dropbox.com/s/vi09hd4w5xpamdj/icon-eye-background-snippet.svg?dl=0 I wonder if the blink will still work with the eyelashes though so we might have to tweak / recut.

[2015-04-28 16:51] cassiemc commented on #41
@ScottDowne All graphic assets are here: https://www.dropbox.com/sh/7ntv3psltharl73/AACmT0oRg_0t2dUiX5YD7ozLa?dl=0

[2015-04-28 16:53] ScottDowne commented on #44
@cassiemc yeah blink with eyelashes is going to be hard.

Also, I wonder if you could make the white part of the eye a transparent circle? That way I don't need to replicate the background colour.

[2015-04-28 17:01] cassiemc commented on #44
@ScottDowne Yes I can do that -- but didn't you want to move the pupil around? All eye assets are now in this folder: https://www.dropbox.com/sh/tlifkldxcuqokzn/AAAp1yw-FEQFY5_wv1wHPBhxa?dl=0

[2015-04-28 17:36] cassiemc commented on #44
Here are the eyelashes as a separate file if that helps @ScottDowne @flukeout https://www.dropbox.com/s/ltrj2wkol0w9i98/icon-eyelashes.svg?dl=0

[2015-04-28 20:19] cassiemc opened #45 "Add link to survey at the top of the page"
We are hoping that the user's eye is drawn down and through the survey with animation and auto-sliding the page, but in case that does not work it probably makes sense to have a fallback.

@valianttry @edrushka @flukeout @ScottDowne What do you think of having a link at the top right of the page? A la:

![topnav-link](https://cloud.githubusercontent.com/assets/1186326/7379347/37a72ed4-edc2-11e4-9d

[2015-04-28 20:26] edrushka commented on #45
Oh, that's a really nifty solution. I have absolutely no objection to that link.
And yah, @cassiemc repo/label looks good :clap: I'll create a milestone for the Surveillance campaign since there isn't oneyet.

[2015-04-28 20:36] cassiemc opened #46 "Design QA Surveillance Site"
Want to make sure this doesn't get missed. I will do this after @ScottDowne is ready (after adding animations & doing harder stuff first)

Will be looking here: http://scottdowne.github.io/surveillance-interstitial/public/

[2015-04-28 20:39] cassiemc commented on #45
Ok great, then this should be ready to implement as well. The icon is font-awesome pencil: http://fortawesome.github.io/Font-Awesome/icon/pencil/
Link is in Sandstone colors, default is #0095DD and hover is #00539F, bold Open Sans (same size and font weight as the "your answer" text)

@edrushka If you think this should be part of the milestone can you assign to @ScottDowne?

[2015-04-28 21:00] edrushka commented on #45
@valianttry, this is your call. Do you like the direct link to the petition in the upper right corner?

[2015-04-28 22:16] edrushka commented on #41
Here is the revised copy, which should address all the issues above: https://etherpad.mozilla.org/interstitial-copy

[2015-04-29 17:17] cassiemc commented on #41
@ScottDowne Here is the design with the grid overlaid: https://www.dropbox.com/s/birsnwif0e0qyzx/surveillance-v4-complete-grid.png?dl=0 It's okay if things need to shift a little bit.

![surveillance-v4-complete-grid](https://cloud.githubusercontent.com/assets/1186326/7396782/fc0904f0-ee71-11e4-96c1-dc342b3eb014.png)

[2015-04-29 17:23] valianttry commented on #45
@edrushka yes! love it. No suggested edits, either.

[2015-04-29 17:26] cassiemc commented on #40
Weird, I was pretty sure I closed this yesterday! Anywho, all assets are here on dropbox including the psd: https://www.dropbox.com/sh/2h0d3s1m9lddz1j/AABQAuAMYkXPdQp01Vz8WFExa?dl=0
Final Redpen images are here: https://redpen.io/p/wf5197457dc9cb6ebd
And final designs posted below:
![01-surveillance-v4-complete](https://cloud.githubusercontent.com/assets/1186326/7396959/25c0f0f4-ee73-11e4-8ab1-287

[2015-04-29 17:26] #40 closed, assigned to cassiemc

[2015-04-29 18:42] ScottDowne commented on #44
I am sure everyone has seen this, but just to put it somewhere, here is the staging of the new snippet eye: http://scottdowne.github.io/eoy-snippets/eyeball-snippet/

[2015-04-29 19:16] edrushka commented on #41
Final copy for interstitial page is here: https://etherpad.mozilla.org/interstitial-copy

[2015-04-29 19:25] edrushka commented on #41
MVPs before we ship this page:
- [x] add the 2nd CTA. Copy is:

Right now the U.S. Congress is rethinking mass surveillance. Learn about Mozilla's position on surveillance reforms needed to protect civil liberties. Learn more.
- [x] update the copy. See previous comment.
- [x] add the link in the upper left. [Details here.](https://github.com/MozillaFoundation/movement-building/issues/45)

[2015-04-29 19:54] ScottDowne commented on #41
@edrushka Where does the 2nd cta link go?

[2015-04-29 20:01] edrushka commented on #41
@ScottDowne https://blog.mozilla.org/netpolicy/2015/04/14/stop-mass-surveillance-under-the-patriot-act/

[2015-04-29 20:38] davidascher commented on #41
`Learn More` probably shouldn't be both the last phrase in the last para as well as the copy of the button.

[2015-04-29 21:43] ScottDowne commented on #44
In review, tracking is here: https://bugzilla.mozilla.org/show_bug.cgi?id=1152133#c25

[2015-04-29 22:55] ScottDowne commented on #43
@adamlofting

Here is the analytics work: https://github.com/ScottDowne/surveillance-interstitial/commit/3ecf82860c3c3a82144092ba2535139a5a8de317

[2015-04-29 23:44] valianttry commented on #41
@ScottDowne I am getting broken image links:
chrome: http://note.io/1JTWCMa
FF: http://note.io/1HSrEoR
the eye image is gone completely from Chrome
we may share this on social so should work in most browsers.

[2015-04-30 00:59] ScottDowne commented on #41
Yeah, the BSD page is still just a placeholder.

http://scottdowne.github.io/surveillance-interstitial/public/

^^ Is still the main link and is expected to work in chrome, if not, I need to fix.

[2015-04-30 02:14] ScottDowne commented on #43
@adamlofting

Live bsd link with analytics: https://sendto.mozilla.org/page/content/surveillance-interstitial/

Could you take a look? I'm getting "[analytics] Expected `value` arg to be a Number."

Obviously I can only pass in a number, but not sure how to structure the event best. An example of the current failing event:

[code]

Let me know how you want it structured.

[2015-04-30 08:25] adamlofting commented on #43
The `value` field is optional, so this can just be

[code]

[2015-04-30 11:03] ScottDowne commented on #43
Oh, odd.

We don't are about the answer to the question?

[2015-04-30 12:24] adamlofting commented on #43
Oh, I see that's what you mean by "no" in that example. `Value` in GA terms means a financial value or a numerical score. And I thought you were trying to say 'none'.

So in this case, let's do:

[code]

[2015-04-30 17:13] cassiemc commented on #42
- [ ] Things in this screenshot are done

![surveillance - initial design qa](https://cloud.githubusercontent.com/assets/1186326/7418275/ac852dd6-ef3a-11e4-861e-0996dad9b6a2.png)

[2015-04-30 17:15] cassiemc commented on #42
- [ ] Things in this screenshot are done

![surveillance - initial design bottom qa](https://cloud.githubusercontent.com/assets/1186326/7418319/059aa932-ef3b-11e4-8493-e76cb2fe3952.png)

[2015-04-30 17:17] cassiemc commented on #46
Design QA is happening in https://github.com/MozillaFoundation/movement-building/issues/42 so closing this one.

[2015-04-30 17:17] #46 closed, assigned to cassiemc

[2015-04-30 17:24] edrushka commented on #42
Minor issues identified in today's standup meeting:
- [x] Delete 1st sentence in CTA for petition (too long) -- Screenshot: http://note.io/1HZV5qN
- [x] Can the auto-scroll send people to the very bottom after completing #3? Otherwise the sign button is still hidden.  -- Removing the sentence might fix this. Scott will explore other solutions if not. Could be a window size thing. We could also do

[2015-04-30 17:27] valianttry commented on #43
@adamlofting I've asked moco if we can send a small amount of traffic to a direct "sign the petition" CTA snippet (our original concept, without interstitial). That way we can have a "control". I just need the correct tracking URL to give them to link in that standard snippet, correct? Any other considerations?

[2015-04-30 17:28] cassiemc commented on #42
A little bit more!
- [ ] Things in these screenshots are done

![surveillance-hover-square](https://cloud.githubusercontent.com/assets/1186326/7418493/4a0d8660-ef3c-11e4-8fbb-31c788b6cc30.png)

![surveillance-a little more](https://cloud.githubusercontent.com/assets/1186326/7418558/cb05ca02-ef3c-11e4-8a08-6d999ee6b61b.png)

[2015-04-30 17:55] ScottDowne commented on #42
@cassiemc I love the above screenshot moment. You got the eye in mid blink and looks very creepy.

[2015-04-30 18:59] cassiemc commented on #42
@ScottDowne haha indeed.

[2015-04-30 20:31] ScottDowne commented on #42
@cassiemc I'm having a hard time finding actual pixel values for what you have in these screenshots. I'm also not sure if the image is in the correct scale for me to measure.

I can take a guess, but I'm not sure how specific you want it to be. My guess is going to be off by a few pixels, if that's ok I can do that.

[2015-04-30 21:04] cassiemc commented on #42
@ScottDowne You don't have to be specific, my images were not meant to be. So that's fine!

@davidascher and I were just talking about the page scrolling speed, when it auto scrolls you. It should probably be a bit slower.

[2015-04-30 21:05] cassiemc commented on #42
@ScottDowne Also thinking about the black and whiteness of the page when you first land. Can we try some color on the hover states for Yes / No? Fade to green for Yes, and Fade to red for No.

[2015-04-30 21:37] flukeout commented on #41
@ScottDowne @cassiemc - here are some animations for the icons, let me know if you'd like any changes to these, the phone rings 3 times and stops. Please check in Firefox.

http://flukeout.com/examples/phone-anim/

[2015-04-30 21:46] cassiemc commented on #41
These are beautiful @flukeout thank you!!! Will they work on mobile?

[2015-04-30 21:48] flukeout commented on #41
@cassiemc Yeah they work - just verified in Firefox on Android.

[2015-04-30 21:49] edrushka commented on #41
Nice, @flukeout These are super fun!

[2015-04-30 21:57] cassiemc commented on #42
- [x] Let's get rid of the period after 'petition' in the link at the very top of the page. So, "sign the petition" not "sign the petion."
- [x] The quotes around "any tangible thing" should be smart quotes
- [x] The apostrophe in the headline should also be a smart quote if you can swing in
- [x] The numbers 2 and 3 are not quite centered in their circles (need to move to the right by 2-3px
- [x]

[2015-04-30 21:58] flukeout commented on #41
Okay, cool - @ScottDowne What's the best way to get you this stuff?

[2015-04-30 22:01] cassiemc commented on #42
Just wanted to make sure @davidascher's comment didn't get lost. I see this occasionally too – white text in the cta with no button background: https://www.dropbox.com/s/53nn0zl0tq2vcwn/Screenshot%202015-04-30%2014.03.50.png?dl=0

[2015-05-01 02:57] ScottDowne commented on #42
I think what @davidascher is seeing is cache from the old page after I added the css to handle the hover.

Try clearing cache/private tab, should fix it.

[2015-05-01 05:18] ScottDowne commented on #42
Did that checklist, slowed the scroll down a bit, and added the animated icons.

[2015-05-01 05:23] ScottDowne commented on #42
Turns out the white button text with no blue background wasn't cache, it's a bug, should be fixed now.

[2015-05-01 09:30] adamlofting commented on #43
Yes, for the snippet variation that points directly to the snippet, use a different 'Referral Id / Campaign name' when [setting up the tracking URL](http://mozilla.github.io/mofo-campaignurl/).

Then you'll be able to look at the [Landing Page report here](https://www.google.com/analytics/web/?hl=en#report/content-landing-pages/a35433268w64184110p65898710/%3F_.goalOption%3D3/) and compare conversi

[2015-05-01 16:27] ScottDowne commented on #45
This was done, closing.

[2015-05-01 16:27] #45 closed, assigned to ScottDowne

[2015-05-01 16:27] ScottDowne commented on #44
This was done, closing.

[2015-05-01 16:27] #44 closed, assigned to ScottDowne

[2015-05-01 16:29] ScottDowne commented on #41
@flukeout I just pulled the styles, images, markup, and keyframes from your demo, it's live here: https://sendto.mozilla.org/page/content/surveillance-interstitial/

[2015-05-01 17:30] edrushka commented on #42
Fix orphans on the CTA:
CTA 1
Join Mozilla and tell Congress it's time
to stop mass surveillance and
protect civil liberties.

CTA 2
Learn about Mozilla's position on
surveillance reforms needed to
protect civil liberties.

[2015-05-01 17:54] valianttry commented on #43
@adamlofting  can you double check these are good?

Tracking URLs once we confirm from Adam they're needed (I'm 99% sure they are):

1. On-interstitial page; "sign the petition" link in upper right corner:
https://sendto.mozilla.org/page/s/section-215-petition?ref=20150414Advocacy_Surveil&utm_campaign=20150414Advocacy_Surveil&utm_source=firefox&utm_medium=snippet&utm_content=Surveil215_Interstitia

[2015-05-01 18:08] valianttry commented on #43
@edrushka @ScottDowne

URLs for the interstitial links:
1. On-interstitial, upper right corner "sign the petition"
   https://sendto.mozilla.org/page/s/section-215-petition?ref=20150414Advocacy_Surveil&utm_campaign=20150414Advocacy_Surveil&utm_source=firefox&utm_medium=snippet&utm_content=Surveil_InterstitialUPPER_R
2. On-interstitial, bottom blue button "sign the petition":
   https://sendto.mozi

[2015-05-04 14:48] ScottDowne commented on #43
I think this is all done, closing.

[2015-05-04 14:48] #43 closed, assigned to adamlofting

[2015-05-04 17:08] ScottDowne commented on #42
@cassiemc Think I got all the QA done.

One area that was a bit confusing was:

![surveillance-hover-square](https://cloud.githubusercontent.com/assets/1186326/7418493/4a0d8660-ef3c-11e4-8fbb-31c788b6cc30.png)

![surveillance-a little more](https://cloud.githubusercontent.com/assets/1186326/7418558/cb05ca02-ef3c-11e4-8a08-6d999ee6b61b.png)

If both of those are applied (not including the font chan

[2015-05-04 17:42] cassiemc commented on #42
@ScottDowne let's chat I'll ping you on IRC.

[2015-05-04 18:06] ScottDowne commented on #42
@cassiemc works for me.

[2015-05-04 20:58] edrushka opened #47 "QA mobile interstitial experience for Surveillance snippet campaign"
Mobile version on staging: http://scottdowne.github.io/surveillance-interstitial/public/

[2015-05-04 21:04] ScottDowne commented on #47
Adding full height screenshots for various states:

![screen shot 2015-05-04 at 16 51 29](https://cloud.githubusercontent.com/assets/197334/7462328/9a7a92d8-f27e-11e4-88dc-3e26a1fc1e5c.png)
![screen shot 2015-05-04 at 16 50 51](https://cloud.githubusercontent.com/assets/197334/7462329/9cd9dc78-f27e-11e4-9844-99b67dd4beb1.png)
![test](https://cloud.githubusercontent.com/assets/197334/7462330/9e8e50

[2015-05-04 21:05] ScottDowne commented on #47
The top bits (mozilla logo, eye, and top link) feel not right to me.

Mostly this is just a pass at stacking the base elements.

[2015-05-04 21:51] edrushka commented on #47
@cassiemc @valianttry please leave your QA comments here. Thanks!

[2015-05-05 15:37] cassiemc commented on #42
@ScottDowne I left some feedback on your mobile view on Redpen. https://redpen.io/sf070262186afaa61c

[2015-05-05 16:40] valianttry commented on #33
Potential updated copy:
Option 1:
static state: What does the US government know about you?
hover: Get smart on mass surveillance

Option 2: Are you under surveillance?
hover: Find out what the US government knows

Option 3: Should the US government collect data about everyone?
hover: Get smart on mass surveillance

[2015-05-05 16:47] edrushka commented on #33
I vote option 1. My alternative would be:
static state: Is the US government watching you?
hover: Get smart on mass surveillance

[2015-05-05 16:55] valianttry commented on #33
+1 let's go with that copy

[2015-05-05 16:59] edrushka commented on #33
@valianttry so for design shall we update the blue eyeball with the
 new eyeball design?

[2015-05-05 17:12] valianttry commented on #47
I just clicked on the link and the design isn't responsive on my HTC One (android).
![screenshot_2015-05-05-09-57-34](https://cloud.githubusercontent.com/assets/9830371/7478362/3257bbe0-f30f-11e4-9b18-4267c1d701da.png)

[2015-05-05 17:33] cassiemc commented on #33
@iamjessklein can you update the blue tile with a white version of the new eye? Here are the svg assets: https://www.dropbox.com/sh/tlifkldxcuqokzn/AAAp1yw-FEQFY5_wv1wHPBhxa?dl=0

[2015-05-05 20:29] iamjessklein commented on #33
@cassiemc is the thought here that the image of the eyeball would remain static for the tile?

[2015-05-05 20:30] cassiemc commented on #33
No, it would work just like the snippet, just with the updated style of the eye.

[2015-05-05 20:31] iamjessklein commented on #33
So I'm just going to update the mockup, and someone will code that interaction, right?

[2015-05-05 20:32] cassiemc commented on #33
Yes :)

[2015-05-05 21:36] ScottDowne commented on #47
Updates, not sure how to update redpen with a new version. Not seeing anything that looks like upload or update, so maybe I need permission to do that? Anyway, here is the screenshot at the least.

![upate](https://cloud.githubusercontent.com/assets/197334/7483430/f6efe7b0-f34c-11e4-9578-c60041af49e1.png)

[2015-05-05 21:54] cassiemc commented on #47
@ScottDowne I added permissions to the redpen project for you and @flukeout.

@edrushka @valianttry Re. the link at the top, I think it's fine to remove it design-wise, just thinking in general that the usability of the form on mobile isn't perfect, as it's quite a long page, so a link at the top might help with conversion. I think if we could get it to fit on one line it wouldn't be so prominent.

[2015-05-05 23:27] valianttry commented on #47
+1 I'm cool if it's just reduced in prominence... the whole point of the interstitial is not to send people direct to the petition. But I totally want it to be "available" higher than the bottom.... your job is so easy!! :smile:

[2015-05-06 00:12] valianttry opened #48 "Double check the email subscription setup in BSD for 215 petition"
@edrushka Just ran a query in BSD and saw that only 35 out of 29K+ people have checked "yes" to opt in to email list (0.12%) since we launched in the snippet -- this seems very wrong. I then pulled a similar query for net neutrality and saw similar tiny #s signing up. Our optin rate for fundraising was 15% - 18%. Can we please double check that the signup form set up is correct on the back end?

S

[2015-05-06 00:46] ScottDowne commented on #33
What is the current target release date for this?

Has there ever been an interactive tile before? Do we have permission and the ability to do this?

Is it just html/css/js in a tile? <- that might be a question for myself.

[2015-05-06 01:23] alicoding commented on #24
I'm trying to look for this page on BSD, but couldn't find it anywhere or perhaps my account is not fully accessible on all components. @ScottDowne do you know where this lives?

[2015-05-06 02:05] ScottDowne commented on #47
@valianttry Are you happy with the prominence on the most recent screenshot or do you think it needs to be lowed a few more notches?

[2015-05-06 02:06] ScottDowne commented on #24
@alicoding Ah, this is not the ticket I thought it was.

I'm not able to find that page in BSD either. It is under `/recurring` which is new to me.

[2015-05-06 12:08] iamjessklein commented on #33
@ScottDowne - If it's not "tracking the cursor" this could be a CSS animation or gif.

@valianttry @edrushka do you know the answer to Scott's questions above?

also - should the copy be maintained?

[2015-05-06 12:52] iamjessklein commented on #33
Here are two iterations for the tile:

1) [Matches the original design:](https://redpen.io/vb0998fed07e448eea)
![tiles-blue](https://cloud.githubusercontent.com/assets/535012/7493216/c718c450-f3cc-11e4-80de-f35ae9720ab2.png)

2) [Aligns with the current design:](https://redpen.io/pc71b718b36ee06ef6)
![tiles-matching](https://cloud.githubusercontent.com/assets/535012/7493219/cda6a03a-f3cc-11e4-97d6

[2015-05-06 13:00] cassiemc commented on #33
Thanks @iamjessklein! Left some feedback in the redpens.

[2015-05-06 13:18] alicoding commented on #24
@valianttry can you help me get access to that page on BSD? I don't know if this is just me not knowing where exactly the page should be or I simply don't have permission to that page yet.

[2015-05-06 13:22] ScottDowne commented on #33
Looking at a bunch of existing tiles, it seems our options are images or gifs, it looks like one large clickable button, and we can have two images (if we want) on for hover and one for not.

Today I need to find someone who knows better, but I suspect the above limits are our limits.

[2015-05-06 13:23] ScottDowne commented on #33
The specs for tiles are in the first comment, I missed this initially.

[2015-05-06 14:39] iamjessklein commented on #33
I updated the [Redpens](https://redpen.io/qweabb09d71739961e) and designs:

![tiles-grid](https://cloud.githubusercontent.com/assets/535012/7495419/cc67485a-f3db-11e4-80fa-a8b853855cce.png)

![tile-options](https://cloud.githubusercontent.com/assets/535012/7495425/d4b24686-f3db-11e4-9496-1296cfe24f0e.png)

[2015-05-06 15:50] ScottDowne commented on #48
The only check boxes I can see on either the petition page or the thank you page are the "agree with our privacy policy" checkbox.

[2015-05-06 15:55] edrushka commented on #48
@ScottDowne can you elaborate? Does that mean the backend is working as expected?

[2015-05-06 16:01] ScottDowne commented on #48
@edrushka Doesn't look like it expectations are on the same page. I know what it does, I'm not sure what is expected of it anymore.

Any signatures in that thank you page are essentially the "opt in" emails, the petition emails are just petition signatures and not mailing list emails. This was copying the net neutrality setup.

We can change it.

One idea is, add an "opt in" checkbox to the petiti

[2015-05-06 16:07] valianttry commented on #48
@ScottDowne I'm confused. The whole purpose of the Thank You page is an opt-in, we do not need to add a checkbox for opting in when the only action on that Thank You is to confirm your email address and opt in. If we add a checkbox on a form, then we DO need to ask people to check a box (because it's on the same page as other fields or actions required).

Can we have a quick meeting to check in on

[2015-05-06 16:11] valianttry commented on #33
@iamjessklein can we plug in the updated text from https://github.com/MozillaFoundation/movement-building/issues/33#issuecomment-99137274?

[2015-05-06 16:12] ScottDowne commented on #48
@valianttry yes, let's sort this out on video asap.

[2015-05-06 16:18] iamjessklein commented on #33
Before I iterate, can you please confirm:

a) copy:
- static: " Is the US government watching you?
- hover: Get smart on mass surveillance

b) which design should we move forward with? (My preference is the blue eye without the box (bottom left in the comment above.)

[2015-05-06 16:26] valianttry commented on #33
Thanks for the work on this!

blue eye is fine, yes, that's the correct copy.  If we can wrap this soon that would be great (we're losing signatures  because we could be in Tile but are on hold until this design is finalized).

[2015-05-06 18:36] alicoding commented on #24
So, I've filed a ticket on BSD to find out about this page and apparently I don't have access to the page because of my permission level.

I also have a question since the page is not directly accessible by us in general. The guy over at BSD will be able to change the wrapper for us which means two things here in this case.
1. Create new wrapper for this page and ask them to change the wrapper to

[2015-05-06 18:53] valianttry commented on #24
@alicoding I just gave you all permissions, use your power for good. :smile:

@sabrinang and @mmmavis have dealt with wrappers in the past, I'm afraid I don't know the technical details of deploying a wrapper. Perhaps we can just choose a newer page wrapper we use for another purpose (such as donation form) and use that same code as our "default wrapper"? I'd ask them.

[2015-05-06 19:01] iamjessklein commented on #33
Two options:

![front-backwithred](https://cloud.githubusercontent.com/assets/535012/7501265/cac6b2e0-f400-11e4-9d3a-b4cd2aea0da7.png)

-or -

![front-backwithtan](https://cloud.githubusercontent.com/assets/535012/7501272/d103cfa8-f400-11e4-8733-7098f3aa5784.png)

my preference = red.

[2015-05-06 19:04] edrushka commented on #33
Nice! Do we know yet if there will be eyeball tracking? If not, perhaps the pupil should be in the same place in the eye in both states, so the hover will create an iris dilating effect.

[2015-05-06 19:13] cassiemc commented on #33
I also like the red. "g" in "Get" should be capitalized. Pupil seems like it should be a bit bigger to me too, but this change is not a blocker.
﻿
![icon-eye-pupil](https://cloud.githubusercontent.com/assets/1186326/7501488/379143ee-f402-11e4-97af-ff584dde9090.png)

Here's the svg with pupil inside the eye: https://drive.google.com/open?id=0BzfN9sXlOXt1U2hxbjlkbkh6Qnc&authuser=1

[2015-05-06 19:48] iamjessklein commented on #33
Here's the revised back:

![red-pupiled-eye](https://cloud.githubusercontent.com/assets/535012/7502076/583a8d94-f407-11e4-9038-0b283599c4e5.png)

[2015-05-06 19:51] iamjessklein commented on #33
![blue-eye](https://cloud.githubusercontent.com/assets/535012/7502137/c623fc28-f407-11e4-8148-181c97015dc5.png)

![red-pupiled-eye](https://cloud.githubusercontent.com/assets/535012/7502139/c79a7910-f407-11e4-9dde-9ae3cb8ca36b.png)

[2015-05-06 19:53] iamjessklein commented on #33
![blue-eye](https://cloud.githubusercontent.com/assets/535012/7502294/f06d1c52-f408-11e4-94b7-a1ccca219a40.png)

![red-pupiled-eye](https://cloud.githubusercontent.com/assets/535012/7502176/061e31fe-f408-11e4-88af-d087ad54feab.png)

[2015-05-06 20:00] edrushka commented on #33
@valianttry Ready to sign off on this?

[2015-05-06 20:05] valianttry commented on #33
hells yes! whoohooo! Let's get these files to Jean Collings asap. Can you attach them to this issue, or how should I deliver them to the engagement team?

[2015-05-06 20:07] edrushka commented on #33
@valianttry can you paste the bug? Jess can add as attachment.

[2015-05-06 20:10] valianttry commented on #33
oh right! Here's the bug:
https://bugzilla.mozilla.org/show_bug.cgi?id=1156362

[2015-05-06 20:10] alicoding commented on #24
@valianttry I just synced up with Seth from BSD a bit to see if we can use our new/modern wrapper and this is what it will look like if we change it to the newer wrapepr.

![](https://dl.dropboxusercontent.com/spa/n5v3bx9nnjkdpzf/e4dzk9cr.png)

What do you think?

[2015-05-06 20:25] valianttry commented on #47
Where do i find a recent screenshot @ScottDowne ?

[2015-05-06 21:33] iamjessklein commented on #33
I've attached it on  bugzilla.

[2015-05-07 00:29] ScottDowne commented on #23
After opening a BSD ticket and going back and forth a bit with Seth, I think we have a fix: https://github.com/mozilla/bsd-forms-and-wrappers/pull/122

The edit recurring page is not pretty, at all. Been warned...

![notpetty](https://cloud.githubusercontent.com/assets/197334/7506457/24c5deba-f42e-11e4-9864-7b6c681f146a.png)

A basic pass to clean that up would do wonders. Should we clean it up be

[2015-05-07 00:31] ScottDowne commented on #23
Oh, I have an example page live with my code here: https://sendto.mozilla.org/page/contribute/seq-test-page

If you make a recurring donation there, and go to https://sendto.mozilla.org/page/recurring/find you'll be able to find your new recurring donation and edit it. If you do that using the stable donation page you'll get an empty page instead of the edit page.

Let me know if you have more que

[2015-05-07 01:31] valianttry commented on #23
Sorry i must be daft. I'm super confused now. :frowning: Maybe we should chat tomorrow so I'm clear? I'm open most of the day.

[2015-05-07 01:32] valianttry commented on #33
@iamjessklein thanks so much for all your work on this! :clap:

[2015-05-07 01:32] #33 closed, assigned to iamjessklein

[2015-05-07 01:59] valianttry commented on #47
Just surfed to http://scottdowne.github.io/surveillance-interstitial/public/ on my phone (please let me know if this isn't the current version I should be QAing). I still think the "stop mass surveillance. sign the petition" is way too prominent. Can we reduce font size, remove bold? Also if I'm just casually reading, it kind of says "mozilla stop mass surveillance" which is problematic. The rest

[2015-05-07 02:12] ScottDowne commented on #47
@valianttry Good to know, I'll try some more things, but if this becomes that last thing that's blocking shipping mobile, can we consider removing it and reintroducing it later in a better form?

[2015-05-07 02:22] ScottDowne commented on #23
@valianttry Yeah let's connect.

[2015-05-07 04:04] valianttry opened #49 "Update call.mozilla.org for Surveillance Campaign"
Congress will vote on surveillance reform by May 21. Phone calls to Congress could have a big impact on how members of Congress vote. Fight215.org is a coalition we are a part of, and they are driving as many calls as possible leading up to May 21st.

Tasks to complete (screenshots below):
- [x] Update the headline on call.mozilla.org
- [x] Remove the "countdown timer" on call.mozilla.org
- [x] Up

[2015-05-07 04:34] valianttry commented on #47
@ScottDowne I'm worried about it because the whole reason we were asked by moco to build the interstitial was to de-emphasize the assertive "sign the petition" ask... let me show this to that team and see if they're OK with it. I am anticipating some pushback but maybe not! Will do tomorrow.

[2015-05-07 04:48] valianttry commented on #47
@ScottDowne I already have a tentative "site is fine as is" from moco... awaiting confirmation though. Just didn't want you to do any work in the interim.

[2015-05-07 13:17] cassiemc commented on #33
Go team!

[2015-05-07 15:18] ScottDowne commented on #48
This was fixed, closing.

[2015-05-07 15:18] #48 closed, assigned to ScottDowne

[2015-05-07 17:38] valianttry commented on #24
Looks SO MUCH BETTER! Is there any way to break that really long one-line "To make changes..." into 2 lines centered? The only other edit I would make if possible is to say "credit card" instead of just "card"

^ neither of these are blockers! If they're not editable by us just pull the trigger (as long as we test and make sure the page works. I can do that as I am a recurring donor).

Thanks @ali

[2015-05-07 18:35] alicoding commented on #24
I've just asked them to switch the wrapper and it should be up shortly then @valianttry you can test this to make sure if this is still working as expected :dancer:

The only text I'm able to change is from `card` to `credit card` but I'm not able to make that to be two lines since I don't have access to the content directly.

[2015-05-07 18:36] edrushka commented on #49
This is super, Andrea. Thanks for the detail.
I want to clarify a couple things for @ScottDowne
1) this is currently P2. Getting the interstitial to work on mobile is P1.
2) step one for this is to estimate how much time this will take
3) Scott's P1 for next heartbeat is the MozFest site, so if this is going to take a ton of effort, we'll need discuss whether to proceed

Scott, when you have a mom

[2015-05-07 18:38] edrushka commented on #47
@cassiemc have you signed off on design here?

[2015-05-07 18:40] valianttry commented on #47
Got this feedback from Michaela on the moco team:

_Looks good! The numbers for the questions aren't centered with the view on my iPhone. Just a flag. Petition positioning looks good._

So, double check #s in iOS, but the petition font / size is good to go.

[2015-05-07 18:51] alicoding commented on #24
@valianttry it is up! https://sendto.mozilla.org/page/recurring/find/ can you please test and close the ticket if it's all good? :)

[2015-05-07 19:06] cassiemc commented on #47
@edrushka @ScottDowne I'm seeing some centering and spacing issues on iOS as well with more than just the numbers (also the illustrations, yes/no boxes, and or). Very close though! Screenshots attached.
![img_1100](https://cloud.githubusercontent.com/assets/1186326/7523558/7de5a31c-f4ca-11e4-98d0-c26ca5dcf7c9.PNG)
![img_1101](https://cloud.githubusercontent.com/assets/1186326/7523560/7deab348-f4ca

[2015-05-07 19:10] ScottDowne commented on #47
Looks like flexbox isn't working as expected in IOS.

I'm looking into it.

[2015-05-07 20:01] valianttry commented on #24
I tested, all went well, except when I clicked on the "edit recurring" the form didn't come up:

![sendto_mozilla_org___give_to_mozilla_today](https://cloud.githubusercontent.com/assets/9830371/7524764/221038f6-f4b9-11e4-92ec-d0033f359716.png)

[2015-05-07 20:02] alicoding commented on #24
@valianttry ouch! Would it be possible if you can help me find out what's the error on the console there? or if you have time after the meeting to do a quick call to see that?

[2015-05-07 20:03] valianttry commented on #24
I know @ScottDowne is working on reformatting that form so maybe he has insight?

[2015-05-07 20:27] ScottDowne commented on #24
@alicoding @valianttry Yeah, that's totally my bug: https://github.com/MozillaFoundation/movement-building/issues/23

Now that ali has context I'll lean off him for review.

:)

[2015-05-07 20:32] ScottDowne opened #50 "donation footer has out of date date"
At the bottom of our wrapper for donation page, we have:

"Portions of this content are ©1998–2014"

We should update that to 2015.

[2015-05-07 20:41] alicoding commented on #50
done

[2015-05-07 20:41] #50 closed, assigned to alicoding

[2015-05-07 20:46] valianttry commented on #50
:+1: :clap:

[2015-05-07 21:03] ScottDowne commented on #47
@valianttry @cassiemc The flexbox stuff is fixed now.

[2015-05-07 21:29] ScottDowne commented on #23
Updated the styles:

![edit](https://cloud.githubusercontent.com/assets/197334/7526446/908e0ec2-f4df-11e4-8932-583bcd31ea68.png)

[2015-05-07 21:42] ScottDowne commented on #23
@alicoding has context for this so throwing it to him for review. Mavis you can feel free to take a look too, cannot hurt :)

[2015-05-07 21:55] valianttry commented on #23
it's so.... beautiful :cry:

[2015-05-07 22:20] valianttry commented on #49
Is it possible this can be live by Wed May 12th?

TL;DR: that's when the House votes and the coalition is turning the volume up to 11 on May 11-12. The louder advocates can be before that vote, the more impact we will have on the final bill content.

[2015-05-07 22:32] valianttry commented on #47
@cassiemc @erikao @ScottDowne are we good to go to prod? What's left?

[2015-05-07 22:35] edrushka commented on #47
If the spacing issue was resolved, I think that's the last outstanding thing unless @cassiemc has further design QA.

[2015-05-07 22:38] edrushka commented on #49
Do you mean **Tuesday May 12** or Wednesday May 13? Or (oh god, please no) Monday May 11?

[2015-05-07 22:48] ScottDowne commented on #47
I'll push it to prod tomorrow morning.

Not super comfy pushing it now as I'm about to be done for the day.

[2015-05-07 22:52] ScottDowne commented on #49
Front end point of view this is a days work, to get to staging.

Some QA, and Monday is doable, the 12th is comfy.

Tomorrow I'll make an end to end and see if there are any fun surprises.

[2015-05-07 22:56] valianttry commented on #49
:clap:
I'm working on finalizing the call script and then recordings.

[2015-05-07 23:09] valianttry commented on #49
Also i prefer to think of :clap: as jazz hands.

[2015-05-08 17:10] valianttry commented on #47
Hey @ScottDowne how is this coming?

[2015-05-08 17:11] ScottDowne commented on #47
Just waiting for my meetings for the day to be over.

[2015-05-08 18:06] ScottDowne commented on #47
Shipped

[2015-05-08 18:06] #47 closed, assigned to ScottDowne

[2015-05-08 18:07] ScottDowne commented on #42
Closing

[2015-05-08 18:07] #42 closed, assigned to ScottDowne

[2015-05-08 18:07] ScottDowne commented on #41
Closing

[2015-05-08 18:07] #41 closed, assigned to ScottDowne

[2015-05-08 18:40] valianttry commented on #47
WUT!

:clap:
:clap:
:clap:
:clap: JAZZ HANDS:clap:
:clap:
:clap:
:clap:

[2015-05-08 18:50] ScottDowne commented on #47
:bowtie:

[2015-05-08 19:32] valianttry commented on #49
@ScottDowne

Final call script is here (this is approved by policy and ready to go on call.mozilla.org):

I'm calling to urge you to vote YES on the USA FREEDOM Act and put an end to illegal mass surveillance under the Patriot Act. Ending mass surveillance will help restore trust in the Internet and improve security for us all. Now is not the time to delay, please oppose any reauthorization of the

[2015-05-08 20:27] valianttry commented on #49
@davidascher or @simonwex I'm checking with Twilio to make sure they're cool comping us again for this campaign. JP handled our Twilio account and credit card setup for net neutrality -- just checking to make sure that card is still good and does @ScottDowne or someone else have access to our profile if needed? Thanks!

[2015-05-08 22:16] ScottDowne commented on #49
Staging link: http://scottdowne.github.io/mass-surveillance-call/

Not sure if the Twilio stuff works out of the box or if I need to make changes. Right now it's sending to `https://callcongress.mofoprod.net/create?campaignId=jan14th&userPhone=` I'm guessing the campaign id is wrong and we need to setup a new one, but it might work...

Feedback is sent here: https://docs.google.com/spreadsheets/d/

[2015-05-08 22:22] ScottDowne commented on #49
@jbuck cc'ing you, for the Twilio or `https://callcongress.mofoprod.net` bits.

[2015-05-11 10:08] adamlofting commented on #43
Just for info, we don't need to use these referral parameters when linking between pages _within_ the same Google Analytics property (in this case the interstitial and the form are both on sendto.m.o).

They are most useful for exteral content that points to our pages (e.g. email, snippet, other websites).

[2015-05-11 16:49] valianttry commented on #49
I just pinged Jeff @ Fight for the Future again to see if he's able to help with recordings today. This is looking good!

[2015-05-11 18:57] valianttry commented on #49
Jeff replied, he said he'd send over recordings today. (He is PST, FYI)

[2015-05-11 19:22] ScottDowne commented on #49
I'm not super sure how to setup a new campaign on `https://callcongress.mofoprod.net`

From what I can tell, I need to setup a new block like this: https://github.com/mozilla/call-congress/blob/master/data/campaigns.yaml#L224-L264

Here is the initial commit that set that up https://github.com/mozilla/call-congress/commit/694311148930b265f69269da16b878cefabcb4c6

Docs for campaign data is found he

[2015-05-11 19:33] ScottDowne commented on #49
Things needing to be done, in this order:
- [x] Create a campaign in: https://github.com/mozilla/call-congress/blob/master/data/campaigns.yaml
- [x] Get the new audio files and link them in the campaign created above
- [x] Update https://callcongress.mofoprod.net with the above updates
- [x] Update https://github.com/ScottDowne/mass-surveillance-call/blob/gh-pages/call-congress.js#L121 with the ne

[2015-05-11 19:45] ScottDowne commented on #49
I created a new campaign in a pull request, it needs a review by someone like Jeff and links to the new audio files: https://github.com/mozilla/call-congress/pull/1

[2015-05-11 19:49] rubbingalcoholic commented on #49
@ScottDowne left a comment on your campaign.yaml update. You're on the right track, the only requirement to adding a new campaign is editing that file and make sure the audio recordings exist at the referenced URLs.

[2015-05-11 19:54] rubbingalcoholic commented on #49
@ScottDowne I am unable to assist with recording the audio though. Please find someone within Mozilla. You can listen to the existing .mp3 files referenced in the campaign.yaml file to understand what language each recording needs to incorporate.

[2015-05-11 20:42] edrushka commented on #49
@valianttry We need a voice. Suggestions?

[2015-05-11 20:52] valianttry commented on #49
Yikes. Re-recording all of the files is going to be very time consuming. I am not setup here to record (my home office is rather noisy and i don't have a great headset). Do we need to create all new files or just the opening file with the Mozilla intro + caller script?

[2015-05-11 21:13] valianttry commented on #49
Confirmed that Twilio will comp our use of their tool for this campaign as well:

On Mon, May 11, 2015 at 12:56 PM, Rob Spectre rspectre@twilio.com wrote:

[code]

[2015-05-11 21:14] edrushka commented on #49
@ScottDowne @rubbingalcoholic  Do we need to create all new files or just the opening file with the Mozilla intro + caller script?

[2015-05-11 21:17] valianttry opened #51 "Resize eye icon for Firefox for Android snippet"
Moco needs a version of the eye icon we are using in the snippet that is 96 x 96px in png. The image should be static, non-animated.

Timeline: next 24 hours if possible to launch the surveillance snippet on Firefox for Android

@edrushka @cassiemc

[2015-05-11 21:18] edrushka commented on #51
@cassiemc please re-assign to Jordan if that makes more sense. I thought it might be easier for you to do since you have the context. @valianttry is there bug we should put this in, or just email to Jean?

[2015-05-11 21:22] ScottDowne commented on #49
Here is a list of the audio files from the NN campaign:

  msg_intro: https://battleforthenet.s3.amazonaws.com/audio/mozilla_intro.mp3
  msg_intro_confirm: http://battleforthenet.s3.amazonaws.com/audio/jan14th_prompt.mp3
  msg_call_block_intro: https://battleforthenet.s3.amazonaws.com/audio/mozilla_call_block_intro.mp3
  msg_between_thanks: http://battleforthenet.s3.amazonaws.com/audio/jan14th_msg

[2015-05-11 21:23] ScottDowne commented on #49
Just msg_intro and msg_final_thanks need to be updated.

Although having a unified voice probably is a good idea.

[2015-05-11 21:25] ScottDowne commented on #49
I have a staging link for the updated thank you page: https://sendto.mozilla.org/page/s/section-215-petition-thanks-staging

I can turn that on once call.mozilla.org is ready to go.

[2015-05-11 21:26] edrushka commented on #49
I have an audio recorder so I guess I could do it. But I'd need a script. It'll take me FOREVER to transcribe the files.

[2015-05-11 21:28] cassiemc commented on #51
coming right up!

[2015-05-11 21:29] valianttry commented on #49
I'll work on scripts. I'm making an executive decision to just record the opening and closing for time-saving. We'll keep an eye on the feedback survey responses to see if people are concerned about 2 diff. voices.

[2015-05-11 21:30] edrushka commented on #49
Do you need me to do the voice? I'll have to dig out my recorder.

[2015-05-11 21:31] cassiemc commented on #51
Actually @valianttry @edrushka do you have an example of the context where this will be used? A screenshot would be great

[2015-05-11 21:32] valianttry commented on #49
Anyone with a headset can use Garageband or iTunes I think -- that might be better? What about asking someone on Webmaker to help out? (Just know you've no doubt got other things to do @edrushka )

[2015-05-11 21:33] edrushka commented on #24
Scott is mega booked this heartbeat, so this is going to have to go on pause for a bit.

[2015-05-11 21:35] cassiemc commented on #51
Also, what resolution?

[2015-05-11 21:39] ScottDowne commented on #24
Ohh, forgot about this.

I totally shipped the updated edit form Friday.

Ali shipped the initial form too.

Closing this.

[2015-05-11 21:39] #24 closed, assigned to edrushka

[2015-05-11 21:40] edrushka commented on #49
ok. well maybe we should get a male voice to match Jeff's clips. Maybe bobby would do it.

[2015-05-11 21:40] ScottDowne commented on #23
This was shipped, closing.

[2015-05-11 21:40] #23 closed, assigned to alicoding

[2015-05-11 21:42] edrushka commented on #24
@alicoding can you test your form for the "edit reoccurring" issue and close this if fixed?

[2015-05-11 21:43] ScottDowne commented on #24
@edrushka already confirmed and closed :)

[2015-05-11 21:50] cassiemc commented on #51
Here are some options all at 150ppi (you'll need to download them to properly preview then, as a couple options have transparent backgrounds). All are in this folder, including the source psd: https://www.dropbox.com/sh/d1i8o6m7fatqup6/AADOqtOxuxbtK5zlujZqF83sa?dl=0

![eye-grey-bkg](https://cloud.githubusercontent.com/assets/1186326/7575764/a539c5b8-f805-11e4-802d-b474838f1240.png)
![eye-grey-smal

[2015-05-11 21:50] valianttry commented on #51
@cassiemc Jean just repeated "we just need 96x96 .png" when I asked about resolution. Here is a screenshot of where it will show on screen:

![google_drive](https://cloud.githubusercontent.com/assets/9830371/7575830/072e950a-f7ed-11e4-80e5-c0859073872a.png)

[2015-05-11 21:51] edrushka commented on #24
:dancers::dancers::dancers:

[2015-05-11 21:55] cassiemc commented on #51
Thanks @valianttry! I imagine one of those that I posted will work great. I'm also going to put a couple svgs in that folder which would be crisp at any res, but not sure if that would render well on android. Worth a try!

Here's the final folder of assets: https://www.dropbox.com/sh/d1i8o6m7fatqup6/AADOqtOxuxbtK5zlujZqF83sa?dl=0

[2015-05-11 21:55] valianttry commented on #51
@cassiemc the files you provided work fine. Thanks!

[2015-05-11 21:55] #51 closed, assigned to cassiemc

[2015-05-11 21:55] cassiemc commented on #51
:hand:

[2015-05-11 21:57] edrushka commented on #51
:purple_heart::blue_heart::yellow_heart::point_right: Thanks Cassie! :point_left::yellow_heart::blue_heart::purple_heart:

[2015-05-11 22:07] valianttry commented on #49
@edrushka here are the scripts (already approved by policy). Whoever records just needs a good microphone in a quiet (silent) room -- a recording booth would be best. They should listen to the existing recordings to get the "tempo" (Jeff's originals). Then, they need to record themselves speaking these two passages, saved as .mp3 in 2 separate files:

msg_intro
Hi, and on behalf of Mozilla thank y

[2015-05-11 22:13] valianttry commented on #49
@KevZawacki would you be game to help us with this small, but crucial, recording task? ^^

[2015-05-11 23:55] valianttry commented on #49
@KevZawacki actually said he'd "be honored" :clap: :crown:

[2015-05-12 00:01] valianttry commented on #38
@edrushka Here's the email callout for surveillance, just need the button to say "CALL NOW" for the call congress tool.

[2015-05-12 00:11] edrushka commented on #38
Boom.
https://www.dropbox.com/s/kvmdbn6svjfujk3/mozilla-advocacy_net-neutrality-february-2015_email-call-out-04.png?dl=0

[2015-05-12 20:11] DaveSteer opened #52 "Mozilla Advocacy - Program Review Blog Post"
Need to follow up from the Mozilla Advocacy Program Review with a blog post on the Policy Blog. Here is a draft: https://docs.google.com/document/d/1ulMFq3aOOusrao7BuGV2skFCBIa3ZRRKs9_6EbSc-fs/edit

Looking for feedback from @valianttry, @edrushka and @OpenMatt in the Google doc before posting. Thanks!

cc: @Melechuga

[2015-05-12 21:42] edrushka opened #53 "Adjust surveillance banner on advocacy site after the vote"
After Congress votes on the surveillance issue, the text and CTA on the surveillance banner will need to change. Can we draft some text (version a: celebratory, version b: sadface but resolute). I assume a blog will be written either way, and the button can change to 'read more' and link to the blog.

cc @valianttry

[2015-05-12 23:58] valianttry commented on #49
For some reason we have 2 links to Report Back, but we only need 1 -- can we just remove the text line in favor of the button?

![mozilla_firefox](https://cloud.githubusercontent.com/assets/9830371/7601205/0b075ca8-f8c8-11e4-858e-528af3b4fb8a.png)

[2015-05-13 00:00] valianttry commented on #49
Update the text script to match the voice script in our prompts. The text should say:

I'm calling to urge you to vote YES on the USA FREEDOM Act and put an end to mass surveillance under the Patriot Act. Ending mass surveillance will help restore trust in the Internet and improve security for us all. Now is not the time to delay, please oppose any re-authorization of the Patriot Act without real

[2015-05-13 00:05] valianttry commented on #49
Chrome works great. I noticed that the Thank You page still references the FCC Vote. Let's update it, and would it be possible to add a text-only donation link?:
![https___call_mozilla_org__](https://cloud.githubusercontent.com/assets/9830371/7601294/0b626a16-f8c9-11e4-9044-d9fac70f5459.png)

[2015-05-13 05:03] valianttry opened #54 "Need a Google Spreadsheet of 2014 donations by state"
I need a simple spreadsheet listing each U.S. state (column A) and the total revenue from each state for all of 2014 (column B).

[2015-05-13 05:03] valianttry commented on #54
@jbuck is this something you can help with?

[2015-05-15 20:00] valianttry opened #55 "Need an email callout graphic for Call Congress re: 215"
@cassiemc Erika's out so i'm flagging this for you -- though I know Monday is a Canadian holiday.... eek!
Hi there! We're hoping to send an email to core supporters asking them to call Congress. Launch day for the email is this coming Monday or Tuesday.

Here is the call now image we used for net neutrality for reference:
https://www.dropbox.com/s/kvmdbn6svjfujk3/mozilla-advocacy_net-neutrality-fe

[2015-05-15 20:33] cassiemc commented on #55
Ok cool. @lovegushwa Can you take this on (since monday is not a holiday for you?) You can prioritize this over your other engagement work. I doubt we have the original source file so would just need to recreate the styles. The guidelines for Sandstone (the theme used on this) are here if you need colors or anything, but just sounds like a simple text change. https://www.mozilla.org/en-US/stylegui

[2015-05-15 23:27] lovegushwa commented on #55
Hi @valianttry & @cassiemc
Here is the updated email asset. Let me know if you need anything else!
https://www.dropbox.com/s/tertt5ukv0s5w15/mozilla-advocacy_mass-surveillance-may-2015_email-call-out.png?dl=0

![mozilla-advocacy_mass-surveillance-may-2015_email-call-out](https://cloud.githubusercontent.com/assets/12228435/7663402/ab94692e-fb1e-11e4-983d-16c47cd2a9eb.png)

[2015-05-16 02:02] valianttry commented on #55
@lovegushwa  Whoohooo! Thanks SO much for the speediness on this! :clap: :clap:

[2015-05-16 02:02] #55 closed, assigned to nobody

[2015-05-16 02:27] cassiemc commented on #55
Yes thank you @lovegushwa much appreciated!!!

[2015-05-19 21:50] DaveSteer opened #56 "Mozilla 101 Presentation"
Developing a slide deck that serves as an introduction to Mozilla. This will be initially used for the Ford-Mozilla Open Web Fellows immersion bootcamp, but we envision multiple internal stakeholders and teams (and the community) being able to use the slides.

This is a quick turn around project.

cc @edrushka

[2015-05-19 22:06] DaveSteer commented on #56
Deadline: Thursday, May 28

[2015-05-20 15:10] ScottDowne commented on #49
Closing

[2015-05-20 15:10] #49 closed, assigned to ScottDowne

[2015-05-21 17:52] lovegushwa commented on #56
@DaveSteer
Hi Dave, I think I can help you with this. Do you have any prior examples? Also are you providing the content?
cc @edrushka

[2015-05-21 17:55] edrushka commented on #56
Dave, just flagging that Jordan works from the States so will be off Monday. We'll need to get the content ASAP to meet the Thursday deadline. Thanks!

[2015-05-21 18:08] cassiemc commented on #56
What's the preferred format, as well? Google docs? Powerpoint? Keynote? Indesign? I'd assume it'll need to be accessibly editable, but that'll make a big difference as to how it's designed and built out.

[2015-05-21 21:01] edrushka commented on #53
@DaveSteer can you briefly outline what the outcomes of the vote might be? I want to be prepared with copy for the different scenarios. Thanks.

[2015-05-21 22:04] Jochai1 commented on #53
Hey @edrushka I'm working on this messaging right now. But here are the four possible scenarios:

1) USA FREEDOM passes (end result: reform!) <-- this is what we want
2) USA FREEDOM fails (end result: sunset)
3) A two month reauthorization passes the Senate and the House is recalled and passes a sister reauthorization (end result: delay leading to weakened or no reform)
4) A two month reauthorizat

[2015-05-21 22:11] edrushka commented on #53
Thanks, @jochai1 This is super helpful.

[2015-05-21 23:13] DaveSteer commented on #56
Hi all -

Great! Very excited that you are helping with this, @lovegushwa.

I'm drafting the slides now. I'll have a share-able version by EOD tomorrow so that you can get started on it on Tuesday morning. I'm capturing imagery/logos/screen shots where I can, but the design will be very drafty when I send it to you. For some of the imagery, I'm hoping that we have some of the original assets (e.g.

[2015-05-22 17:48] lovegushwa commented on #56
Hi @DaveSteer
Sounds like a good plan! I'll let you know if if have questions once I get a copy of the early draft.

[2015-05-26 15:54] edrushka commented on #53
Update: Senate voted last Friday. [More info here.](http://www.theverge.com/2015/5/24/8652679/nsa-preparing-to-shut-down-bulk-surveillance-programs)

Once we confirm our messaging, we'll need to update the advocacy page. cc @valianttry @DaveSteer @Jochai1 @simonwex

[2015-05-28 22:46] lovegushwa opened #57 "Personal Democracy Forum 2015 - insert"
D? @DaveSteer @sabrinang @cassiemc @edrushka
Please review the Personal Democracy Forum 2015 - insert. Just a little background @sabrinang we were offered advertising slot in a conference publication today. It's a quick landscape revision of a similar previous insert (Provided by Dave, see bellow.) We need to move quick to make the print deadline.

![mozilla-global-open-web-proof-b](https://cloud.

[2015-05-28 22:51] DaveSteer commented on #57
Two corrections:
1. The URL should be www.mozilla.org/advocacy (was missing the 'o' in advocacy)
2. Make the 'w' lower case in 'web' at the bottom (free and open web)

Thanks!

[2015-05-28 22:57] lovegushwa commented on #57
@DaveSteer
Got it, thanks!

[2015-05-28 23:47] sabrinang commented on #57
A small tweak would be to try to align the wordmarks - maybe by making firefox wordmark slightly larger to align the baseline or try matching the cap height of the “F" with “mozilla" x-height but I get that the firefox logo has more visual weight so it might feel more off balance after so you can disregard.

Also, matching the right margin with the left margin so the words “resource” and “accessib

[2015-05-29 05:27] lovegushwa commented on #57
@sabrinang good feedback, thank you!

[2015-05-30 00:03] lovegushwa commented on #56
@DaveSteer  @edrushka
Hi Dave & Erica, you can download a proof of the Mozilla 101 deck here: http://we.tl/Pa4cYRniKY

[2015-05-30 00:06] edrushka commented on #56
Thanks, @lovegushwa :balloon::tada::balloon::tada::balloon:

[2015-05-30 15:57] DaveSteer commented on #56
This is so good, @lovegushwa. I'll have comments by Monday. Thank you thank you thank you.

[2015-06-02 15:25] KevZawacki opened #58 "Update advocacy.mozilla.org with Maker Party promo"
RACI

Driver: @kevzawacki
Decision Maker: @HPaulJohnson
Design Lead: TBD
Consulted: @amirad @chrislarry33 @edrushka @valianttry @DaveSteer

If possible, we're looking to update the advocacy.mozilla.org homepage with a banner promoting this year's Maker Party (July 15-31).

This same banner will also live on webmaker.mozilla.org and teach.mozilla.org. Tentative/suggested banner dates: July 1 - July

[2015-06-02 16:34] DaveSteer commented on #58
Fascinating! As long as the messaging is advocacy oriented. Excited to dive into this.

[2015-06-02 16:38] edrushka commented on #58
I agree the message should be advocacy oriented. That likely means tweaking the existing assets - perhaps to point to an advocacy or policy related teaching resource.

[2015-06-02 18:05] HPaulJohnson commented on #58
We will have 3 featured activities that we are promoting as part of this year's Maker Party marketing campaign. One of those is privacy related. Would that work?

[2015-06-02 18:22] edrushka commented on #58
Likely it could! Can we see?

[2015-06-02 18:22] HPaulJohnson commented on #58
@amirad - can you share the privacy activity for Maker Party?

[2015-06-02 18:28] amirad commented on #58
Sure. These are the activities we will highlight

Get a hold of your data online. Learn about cookies and third party tracking http://mozilla.github.io/webmaker-curriculum/ProtectingYourData/session02-lightbeam.html

Psst. No wifi at your event? Do the draw a secure password activity http://mozilla.github.io/webmaker-curriculum/ProtectingYourData/session02-secure-passwords.html

[2015-06-02 18:32] edrushka commented on #58
Thanks! IMO, the first one, http://mozilla.github.io/webmaker-curriculum/ProtectingYourData/session02-lightbeam.html, seems like the best fit for the site's audience but I'll let @DaveSteer  or @valianttry make that call.

@HPaulJohnson did you have any ideas about tweaking the graphic assets specifically for this page?

[2015-06-02 19:24] lovegushwa commented on #56
Hi @DaveSteer , let me know if you need any changes to meet the 6/3 deadline. I will be offsite this afternoon but can finish up any revisions tomorrow morning!

[2015-06-03 14:12] DaveSteer commented on #56
Hi @lovegushwa - I'm meeting with the MoCo Brand team today to incorporate their feedback. I'll send that to you tonight - that delays us by a day, but I think that's OK since the changes are not too major.

Would it help you if I sent my feedback now rather than waiting to consolidate all of it? Happy to do that.

--Dave

[2015-06-03 14:25] DaveSteer commented on #58
Gosh - I really love both of the activities. Do we have to pick one? If yes, let's go with Lightbeam. If no, would be great to be able to feature both (one for privacy; one for security).

[2015-06-03 15:35] valianttry commented on #53
:clap: Obama signed the bill into law! We're winners!! :+1:

@KevZawacki has our official comms on this, and he knows if there's a blog, and you can find our email draft here for any additional language that might be helpful:
https://docs.google.com/document/d/1YisaSfroR_auA_YnwAw7P5DIuWKPICSxL_o_Bun9KSw/edit

[2015-06-03 16:10] KevZawacki commented on #58
Some possible banner copy:

July 15-31
Participate in Mozilla's Maker Party, our global campaign to teach critical skills like Web privacy and security. Learn about tracking, cookies and more.
Host an event [link]

[2015-06-03 16:29] KevZawacki commented on #53
Hey! To get the ball rolling on banner copy:

Hed: A Big Victory for Privacy and the Open Web

Copy: Together, we stood up and demanded Congress reform mass surveillance programs. And we made a difference: this June, the USA FREEDOM Act was signed into law, a significant step toward restoring trust online.

Button: Read more [https://blog.mozilla.org/netpolicy/2015/06/02/mozilla-applauds-u-s-senat

[2015-06-03 16:44] DaveSteer commented on #53
Thanks for getting the ball rolling, @KevZawacki
The copy seems long for a banner. Can we shorten?

--Dave

[2015-06-03 16:53] KevZawacki commented on #53
For sure. How about:

Hed: A Big Victory for Privacy

Copy: Together, we demanded Congress reform mass surveillance. And we made a difference: the USA FREEDOM Act is a major step toward restoring trust online.

Button: Read more [https://blog.mozilla.org/netpolicy/2015/06/02/mozilla-applauds-u-s-senates-passage-of-the-usa-freedom-act/]

[2015-06-04 16:43] lovegushwa commented on #56
@DaveSteer @edrushka
Hi Dave, please see the attached revision. Let's catch up today. I have a few questions (I need to clarify a few changes and need help identifying a few additional images.)
http://we.tl/oBYNHGitRN

[2015-06-04 23:57] edrushka commented on #53
@DaveSteer @Jochai1 are you good with this copy? We should _really_ try to update this before we point people to the site for the OWF announcment.

[2015-06-05 01:13] DaveSteer commented on #53
Works for me. Thanks!

[2015-06-05 18:02] edrushka commented on #53
@alicoding are you able to change the surveillance banner to:
- [x] Headline: A Big Victory for Privacy
- [x] Body: Together, we demanded Congress reform mass surveillance. And we made a difference: the USA FREEDOM Act is a major step toward restoring trust online.
- [x] Button text: Read more
- [x] Button link: https://blog.mozilla.org/netpolicy/2015/06/02/mozilla-applauds-u-s-senates-passage-of-

[2015-06-05 20:36] edrushka commented on #53
This is live on staging: http://advocacy.herokuapp.com/

@DaveSteer can I please get your signoff?

[2015-06-05 20:47] DaveSteer commented on #53
Looks great. Approved!

[2015-06-05 23:16] lovegushwa commented on #56
Hi @DaveSteer @edrushka
Please see this link to the final revised deck.
http://we.tl/Ffrd1sAHP5

[2015-06-05 23:20] edrushka commented on #56
Very nice! Thanks, Jordan!

[2015-06-17 18:08] KevZawacki commented on #58
Giving this ticket a bump.

Here's what the Maker Party promo banner looks like on webmaker.org, thanks to the nifty work of @sabrinang : https://goo.gl/EKyLej

@sabrinang, is it possible to repurpose the above banner for advocacy.mozilla.org and simply swap in new text/link?

I think we should promote the Lightbeam activity. Any suggested improvements to the below copy?

Hed: Join Maker Party and

[2015-06-17 18:09] edrushka commented on #58
When would you like this on the site?

[2015-06-17 18:56] KevZawacki commented on #58
Is Wednesday, July 8 doable? It would then run until Friday, July 31.

[2015-06-17 19:01] edrushka commented on #58
@sabrinang can you provide the design file?

[2015-06-17 21:16] sabrinang commented on #58
You can find the assets for the promo banner (MP background tile + MP white logos) exported here: https://drive.google.com/a/mozilla.com/folderview?id=0B4Q8pzCpDS_efkJQcEJseDlNOUlMUGNhdWwzMVFkcWp1anh6NEVZX0hMT1hiWTk5TExVWnM&usp=sharing

[2015-06-17 22:04] edrushka commented on #58
thanks, @sabrinang! @cassiemc we should talk during the TPS call about which designer to assign to pull this together. Ali can implement.

[2015-06-18 17:59] #53 closed, assigned to edrushka

[2015-06-18 18:00] #21 closed, assigned to alicoding

[2015-06-18 18:00] #20 closed, assigned to nobody

[2015-07-13 20:48] valianttry opened #59 "BSD is updating our Kount integration - need new API key"
@edrushka
From a July 13 email from Seth Reznik (our account rep at BSD):
Hi Andrea, wanted to send you a note because we're going to be updating our integration with Kount, moving away from implementation based on their RIS certificates, and towards API keys.

To do this, we'd need you to generate API keys for your account. Doing so should be pretty simple, you'd:
1.  On the Kount dashboard go to

[2015-07-13 21:18] valianttry commented on #59
@edrushka Update from Seth: We need to get this done as soon as possible, no later than July 31

[2015-07-15 22:05] edrushka commented on #59
@jbuck will evaluate

[2015-07-15 22:14] jbuck commented on #59
Okay, this seems like something that's very quick to do (<5 mins), we just need to know what the login URL/credentials are for Kount. I don't have them, but I do know that Scott and Becky do. Lets wait until Scott is back from vacation next week and we'll do this then.

[2015-07-15 22:25] jbuck commented on #59
nvm, @jdotpz was able to hook me up with some login credentials and I can generate the new API key.

[2015-07-15 22:28] jbuck commented on #59
emailed to Seth & Andrea

[2015-07-15 22:28] #59 closed, assigned to nobody

[2015-07-15 22:52] edrushka commented on #59
jbuck = :metal:

[2015-07-23 23:16] #38 closed, assigned to edrushka

[2015-08-25 14:24] shaghdoosti opened #60 "German Campaign pages"
Hey -

We're hoping to launch a campaign in Germany around data retention in early September. The full campaign brief is below.

https://docs.google.com/document/d/1MsGxaNUHPbgIeHdcd8Xd6s5Ez9WxzCVXtyDW3G0VyMg/edit

@edrushka @valianttry I wanted to start a conversation around resources for this campaign. Essentially what we'll need help with is:

-A petition page
-A share page

Are there any other

[2015-08-25 15:57] edrushka commented on #60
Great to see this campaign brief! Ops is meeting today to discuss PM-ing advocacy. I suggest the three of us meet up to discuss resourcing for this project.
@shaghdoosti do you have a more specific launch date? Is the launch tied to any kind of immovable real-world event?

[2015-08-25 16:01] shaghdoosti commented on #60
Great - I'll setup a meeting.

In terms of deadlines: the commission has three months to respond and that clock started in June. At the moment the deadline for the campaign would be the second week of September. (I'm talking to a partner group in Germany to confirm that the time frame is the same even thought there's holidays in between.)

[2015-10-01 20:35] valianttry opened #61 "New email callout for US encryption campaign"
@cassiemc we have an urgent email for launch Friday or Monday about a terrible encryption law that is on the move (US-EN only). @shaghdoosti is leading the campaign charge. The email draft lives here:
https://docs.google.com/document/d/1hzZNiGIFz22zMMjBWRaHnkpgbp2_YaCPr6LY_Q1n_TA/edit

We need an updated callout box graphic for the campaign that will fit into our existing HTML email template. You

[2015-10-01 20:53] cassiemc commented on #61
@lovegushwa Can you help tackle this?

[2015-10-02 14:40] cassiemc commented on #61
I caught @lovegushwa on IRC and he said he was able to do this. @valianttry please keep me updated here.

[2015-10-02 16:25] lovegushwa commented on #61
@valianttry @cassiemc @shaghdoosti

Please check out the updated png below.
"Help us reach 100,000 signatures for strong data security"

https://drive.google.com/a/mozilla.com/file/d/0B2qu3ExKWIlvMnhiQ2tDNDV1dzQ/view?usp=sharing

[2015-10-02 16:40] cassiemc commented on #61
R+ for design, thanks @lovegushwa!

[2015-10-05 17:19] shaghdoosti opened #62 "Timely: Mobile Optimized email template broken"
@ScottDowne @mmmavis

Hey friends - we're trying to get out an email today for the German campaign but our template is broken. Details are below - help would be very much appreciated!

+++++

The email template "Mozilla Wordmark - mobile optimized" is broken so that the border on the right side of the email breaks/is not a consistent vertical line. The only thing I can think of that might have bro

[2015-10-05 22:01] ScottDowne commented on #62
I think I got it.

The HTML Footer needs to be:

[code]

[2015-12-15 22:38] #57 closed, assigned to nobody

[2016-01-05 15:01] cassiemc opened #63 "Gather content for new Web Fellows site"
We should include (assuming  there are no adjustments needed, @Melechuga please let us know if otherwise):
- FAQs content from https://advocacy.mozilla.org/faq/
- Benefits content from https://advocacy.mozilla.org/benefits/ if
- Assuming we'll want to link to last year's cohorts, found here: https://advocacy.mozilla.org/open-web-fellows/

We will need:
- Updated host organizations, last year's are

[2016-01-05 15:02] cassiemc opened #64 "Design wireframes for new Open Web Fellows page"
Notes from our kickoff here: https://public.etherpad-mozilla.org/p/webfellowsupdate

We can use content from https://advocacy.mozilla.org/faq/ & https://advocacy.mozilla.org/benefits/

Additional content will be gathered in https://github.com/MozillaFoundation/movement-building/issues/63

[2016-01-05 15:05] cassiemc opened #65 "Benchmark other fellows sites"
We'd like to move the needle more towards a templated approach with all the fellows programs. We expect there to be differences but currently aren't clear on what those differences are. Let's do some interviews and design research so we can get closer to building a template that works for all three programs.

<img width="545" alt="screen shot 2016-01-05 at 10 03 49 am" src="https://cloud.githubuse

[2016-01-05 16:04] cassiemc opened #66 "Figure out long-term URL structure for Fellows site"
This exercise is part information design, part practicality.

Currently, we have:
- **https://advocacy.mozilla.org/open-web-fellows/** which lists the current cohort of fellows
- **https://advocacy.mozilla.org/** which happens to be mostly about the Open Web Fellows program.
- Then, as subpages, we have the tabs on https://advocacy.mozilla.org/host-organizations/, whose pages are styled quite diff

[2016-01-05 16:29] cassiemc commented on #60
@shaghdoosti @edrushka What's the status of this one? Trying to clean up milestones and this one seems long overdue.

[2016-01-05 16:50] cassiemc opened #67 "Design UI for Open Web Fellows page/s"
This might be rough to try and finish by Jan 15 depending on when the wireframes #64 are done, but we will need this to build out the pages by Jan 29. cc @kristinashu @ScottDowne

[2016-01-05 16:51] cassiemc opened #68 "Build UI for new Open Web Fellows page/s"
Currently blocked by wireframes #64 and UI #67

[2016-01-05 16:53] cassiemc commented on #66
cc @brettgaylor @Melechuga

[2016-01-05 17:28] cassiemc opened #69 "Figure out short-term URL for Fellows update"
It's clear that the advocacy site is predominantly currently about the Open Web Fellows program, which doesn't accurately reflect the ongoing work with our advocacy program. However, given the Encryption campaign, we won't be able to make any major updates to advocacy.mozilla.org prior to the new web fellows work launching on Jan 29.

This means we can either –
- A. create a new domain for the fel

[2016-01-05 17:28] cassiemc commented on #66
I think this bug is actually thinking longer term than we actually need for this update. I'm going to change the title and file a new bug to reflect that. New short-term bug is https://github.com/MozillaFoundation/movement-building/issues/69

[2016-01-05 20:42] kristinashu commented on #63
Would we be open to removing the FAQ section? FAQ pages generally aren't the best user experience because they're such a hodge podge of info with no real organization or hierarchy. Ideally the main website content should cover any questions we expect a user to have. Open News (https://opennews.org/what/fellowships/info/) covers a lot of the types of questions we have with sections like 'What is a

[2016-01-05 20:59] cassiemc commented on #63
I like that proposal @kristinashu

[2016-01-05 21:16] Melechuga commented on #63
That sounds good @kristinashu. Thanks for pointing out OpenNews' approach; I've started editing the FAQ in the website in this google doc: (https://docs.google.com/a/mozilla.com/document/d/16DPpk9dlB7YJyahjwA6Dk3h4bmNLjc2BmUDUr690oZg/edit?usp=sharing). Edits appreciated!

[2016-01-05 22:34] Melechuga commented on #66
Hi @cassiemc,
Had a quick chat with David in Vancouver (I'm here for the work) re: the URL structure, and he explained that the idea is to keep the OWF site at adv.m.o/xxx to say "look at one of the ways we do advocacy -- fellowships" and also to link from m.o/fellowships to say "look as one of the fellowship programs" as well; love it! Thanks for driving that conversation. M

[2016-01-06 00:13] cassiemc commented on #66
sounds good @Melechuga! So to recap –

Short term: we'll keep advocacy.mozilla.org/openwebfellows (this update will replace what's currently there)
Long term: Let's build a new page – mozilla.org/fellowships OR fellowships.mozilla.org with a shared landing page that links to all fellowship programs.

[2016-01-06 00:13] #66 closed, assigned to kristinashu

[2016-01-06 00:15] cassiemc commented on #69
As per #66, @Melechuga and @davidascher advise that we keep **advocacy.mozilla.org/openwebfellows** (this update will replace what's currently there) for this short-term update.

@HPaulJohnson can weigh in on what might replace advocacy.mozilla.org by Jan 29, but we should file that as a separate bug.

[2016-01-06 00:15] #69 closed, assigned to brettgaylor

[2016-01-06 19:41] kristinashu commented on #69
@cassiemc so just to clarify, does this mean for the short term there will be nothing on advocacy.mozilla.org - it would redirect to advocacy.mozilla.org/openwebfellows? And then sub pages of Open Web Fellows like the blog would be advocacy.mozilla.org/openwebfellows/blog?

[2016-01-07 00:46] kristinashu commented on #64
@cassiemc @Melechuga @brettgaylor here are the initial wireframes: https://redpen.io/p/ds7226d960fbdeed27

We can definitely adapt it for different copy but let me know if you have any thoughts about the overall structure of the content and if we're missing any sections.

[2016-01-07 21:40] cassiemc opened #70 "Redesign 'get involved' page on advocacy.org"
Do we want to restyle the get involved page - https://advocacy.mozilla.org/get-involved/ - to be more inline with the `webfellows` update?

cc @Melechuga @brettgaylor @HPaulJohnson @kristinashu

[2016-01-07 21:51] Melechuga commented on #70
Definitely! Thanks for flagging @cassiemc. We need to change that content drastically; also, this page will evolve as we start growing the advocacy network and finding more channels of engagement. I'll work on content and update shortly.

[2016-01-07 21:56] cassiemc opened #71 "Update content for 'get involved'"
This will feed into potential redesign of (small updates to) the page #70

[2016-01-07 21:56] cassiemc commented on #70
Ok, cool! I've marked it as a P2 as our P1 efforts are about updating the topnav links (and getting the fellows linked subpages out of sandstone and in style with the rest of the site).

When we do a more extensive redesign of advocacy.mozilla.org we should fill out the design brief and whole schebang and treat that as a separate exercise, but perhaps there are some small text styling or content u

[2016-01-07 22:18] cassiemc commented on #63
Left some comments in the doc, getting closer @Melechuga, thanks!

[2016-01-07 22:50] kristinashu commented on #67
@lovegushwa can you please share any files you have for the work you did on the advocacy site (site mockups and photos of the fellows)?

[2016-01-07 23:11] Melechuga commented on #70
Brett says "and...no."
We'll build one if needed; for now the "get involved" page should be put to rest. Thanks!

[2016-01-08 03:58] lovegushwa commented on #67
@kristinashu lol your in for a treat. PSD files. You can find them here:
https://drive.google.com/a/mozilla.com/folderview?id=0B2qu3ExKWIlveXBMWXVHZDdNXzg&usp=sharing

[2016-01-08 17:19] kristinashu commented on #67
Haha thanks @lovegushwa! Also please let me know if you have any ideas/benchmarks for color palette, style, navigation (we need to add a secondary level menu)... You too @natalieworth

[2016-01-08 19:14] #70 closed, assigned to nobody

[2016-01-08 19:14] kristinashu commented on #71
Killing this page so closing this issue.

[2016-01-08 19:14] #71 closed, assigned to Melechuga

[2016-01-08 19:44] kristinashu opened #72 "IA for advocacy site"
Here is the proposed information architecture for the advocacy site: https://redpen.io/p/hq89c0dea3bab99fb0

![2xadvocacy-ia-01](https://cloud.githubusercontent.com/assets/1068783/12207608/7ab5cbec-b5fc-11e5-9836-09a418d05adb.jpg)

Things that are still up in the air:
- should we have a blog of Advocacy and another separate one for Open Web Fellows or should we use tags to filter?
- what is on the

[2016-01-08 20:35] kristinashu commented on #64
Updated the wireframes with some of the feedback and updated copy: https://redpen.io/p/ds7226d960fbdeed27

Opened https://github.com/MozillaFoundation/movement-building/issues/72 to discuss IA for the entire advocacy site.

High level content structure is pretty much done so I'm going to close this ticket and start on https://github.com/MozillaFoundation/movement-building/issues/67 were I'll add c

[2016-01-08 20:35] #64 closed, assigned to kristinashu

[2016-01-08 20:36] cassiemc commented on #70
Thanks @Melechuga! cc @ScottDowne for fyi

[2016-01-08 20:58] cassiemc commented on #72
- I think having two blogs nested in the same architecture is odd, and would recommend using tags on the policy blog (if we have full posting access) until we get the wider IA/url structure sorted out for advocacy.
- I'm not attached to the idea but wonder if we could use shorter verbiage, ie 'web fellows' instead of 'open web fellows'? @brettgaylor @Melechuga
- As for homepage, I really like what

[2016-01-11 17:16] kristinashu commented on #72
@cassiemc I definitely agree with your blog suggestion. I've updated the IA https://redpen.io/p/hq89c0dea3bab99fb0
@ScottDowne is it possible to add tags to the Advocacy and Policy Blog (https://blog.mozilla.org/netpolicy/)?

I also like 'web fellows' but will hold off on making that update. I think @brettgaylor and @Melechuga are currently brainstorming new names?

[2016-01-11 20:12] cassiemc opened #73 "Update homepage for Advocacy.org"

[2016-01-11 21:01] cassiemc commented on #73
Potential new wireframe from @kristinashu, we'll be discussing potential to implement this this afternoon. https://redpen.io/dwc1eb0d59700704ba
cc @lovegushwa @HPJohnson @brettgaylor @Melechuga @ScottDowne @valianttry

[2016-01-11 22:11] valianttry commented on #73
hi everyone. The advocacy.mozilla.org domain pre-dates our recent organizational changes, so the concept is a bit outdated (e.g. Open Web Fellows + campaigns). I thought the focus of the redesign was for advocacy.mozilla.org to become primarily (solely?) the home for Open Web Fellows and de-emphasize campaigns. Our campaigns will have their own landing pages and content and don't need to have prom

[2016-01-11 22:42] cassiemc commented on #73
Interesting! Thanks for that insight @valianttry. Would love to hear @davidascher's thoughts too. Seems like @HPaulJohnson @lovegushwa and @Melechuga were onboard with building out a placeholder / home for past and ongoing campaigns, as per the redpen, which seemed inline with our rationale for keeping the web fellows stuff on the advocacy url ("our open web fellows program is one of the ways in w

[2016-01-12 01:37] davidascher commented on #73
@valianttry: Where do we expect people who are interested in becoming
grassroots organizers, find out how we're working, or otherwise get
involved in advocacy should follow along?  IOW, what's the advocacy
equivalent of fundraising.mozilla.org?

On Mon, Jan 11, 2016 at 2:42 PM Cassie McDaniel notifications@github.com
wrote:

[2016-01-12 07:24] valianttry commented on #73
I chatted with @HPaulJohnson today, and I understand the campaign content will be minimal on advocacy.mozilla.org. We won't be driving traffic to it, I understand the concept is that it's basically a "repository"of our campaigns.

@davidascher so far @shaghdoosti and I have blogged on our personal blogs, but it's a great question. Right now advocacy.mozilla.org isn't set up as a blog so I'm not su

[2016-01-12 14:16] cassiemc commented on #73
@valianttry Yes that's the idea. Also, we are going to figure out a blogging solution (lots of people in the same position as you) via a larger templatization plan – https://github.com/MozillaFoundation/plan/issues/644, so if there's no rush to move on a blog we could make what you need via that larger task. The plan with @brettgaylor and @Melechuga for now is to link to the Policy blog, which is

[2016-01-12 18:03] kristinashu commented on #67
Here's my first pass at design for the fellowship overview page: https://redpen.io/p/wt1d64bfb93fa6a6b8

@cassiemc @lovegushwa @ScottDowne please let me know if you have any feedback.

[2016-01-12 21:36] ScottDowne commented on #73
Does anyone know if we want to now or in the future localise this?

[2016-01-13 17:45] kristinashu commented on #67
@Melechuga @brettgaylor here are the first couple pages of comps to give you an idea of where the design is heading: https://redpen.io/p/wt1d64bfb93fa6a6b8
Let me know if you have any thoughts or feedback.

[2016-01-15 23:22] kristinashu commented on #72
We're sticking with "Open Web Fellows" as the name.

![2xadvocacy-ia-02](https://cloud.githubusercontent.com/assets/1068783/12367958/981e4818-bb9b-11e5-8886-d3b3e002a65d.jpg)

[2016-01-15 23:22] #72 closed, assigned to kristinashu

[2016-01-18 20:59] kristinashu commented on #67
I've updated redpen with some new comps. The structure is the same but I've played around with the design and am trying something a little bolder https://redpen.io/p/wt1d64bfb93fa6a6b8

[2016-01-18 21:03] kristinashu commented on #63
I believe copy will be finalized this Wednesday.

@Melechuga we'll also need vector logos from each org. I was able to get University of Toronto's logo online but that's it.

[2016-01-18 21:07] kristinashu opened #74 "Design icons and illustrations for fellowship pages"
Based on Design UI for Open Web Fellows page/s #67

Comps with placeholder icons is in process are here: https://redpen.io/p/wt1d64bfb93fa6a6b8

We need to design icons for:
- Overview page: icons for 3 goals, globe illustration
- Info page: 1/3 of time graph icons, Travel and Events icons, Research & Equipment/Travel Allowance/Visa Assistance icons

[2016-01-18 21:09] kristinashu commented on #74
@cassiemc do you think it's safe to start finalizing icons or should we wait for final copy?

@natalieworth might help out with these.

[2016-01-18 21:57] cassiemc commented on #67
I'm really liking the bolder direction @kristinashu. Feels less like a total rebrand too, more of an evolution of what's there.

[2016-01-18 21:58] cassiemc commented on #74
@kristinashu Yes, definitely. Only thing I see changing might be color scheme, so we could focus on basic theme and shape until the design styles are finalized. Go team!